[2020-05-31 19:03] pavjacko opened #511 "Platform Engines"
This feature will enable support of variety of different (including custom) rendering methods in ReNative projects

Current `rnv` package bundles support for multiple platforms into one package including CLI.
This architecture approach was chosen on purpose in order to rapidly develop ReNative but it is reaching the end of its usefulness and more decoupled approach is becoming necessary.

Goal: Se

[2020-06-01 11:30] ix42 opened #513 "Template for watchOS"
Hi,

Is there any plan for adding a platform template and supporting watchOS?

Thank you

[2020-06-02 19:21] #446 closed

[2020-06-04 14:25] #447 closed

[2020-06-05 18:47] JohnLiber opened #514 "Issue on windows when rnv run -p android in project directory"
Can't run project

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv run -p android' in project directory
2. See error

-   OS: Windows 10
-   Node Version v12.17.0
-   RNV Version 0.29.0

`- Waiting for bundler to finish...$ rnv run - _isBundlerRunning:android - Starting!
internal/modules/cjs/loader.js:969
  throw err;
  ^

Error: Cannot find module 'C:\Users\User\Desktop\Rea

[2020-06-09 17:05] elmpp opened #516 "Ejected Schmejected"
**Describe the bug**
RNV reports ejected status of SDK-UI after upgrade to 0.29.1-alpha.19 from 0.29.0 and fails build.

**To Reproduce**
See Travis links below

**Expected behavior**
It builds

**Screenshots or copy&paste**
 - [Failing build](https://travis-ci.com/github/24i/prd-nxg-sdk-ui/jobs/346653585#L2595) (with 0.29.1-alpha.19)
 - [Passing build (with minimal client differences)](https://tr

[2020-06-09 18:06] pavjacko commented on #516
deleting  `"platformTemplatesDir": "PROJECT_HOME/platformTemplates",` from `renative.json` (marking eject) should fix it

[2020-06-09 18:06] #516 closed

[2020-06-10 15:29] elmpp opened #518 "Is Renative A Runtime Dependency?"
Just going through `sdk-ui` and it seems `renative` is [imported](https://github.com/24i/prd-nxg-sdk-ui/blob/develop/index.androidtv.js#L2) a few times but never actually used.

We also have the `Quantum` package which provides 95% of our env values (+ the ability to add more via the extensions mechanism).

Can `renative` be removed from `sdk-ui`?

[2020-06-10 22:44] pavjacko commented on #518
`renative` provides set of low level helper tools (documented in more detail here: https://renative.org/docs/api-renative ) to help with low level cross-platform optimisations related to platforms, form factors, fallbacks combined with extension support provided by `rnv`

It is essentially a developer's choice whether to utilise these APIs or build and use their own custom utilities.

[2020-06-10 22:44] #518 closed

[2020-06-12 06:40] elmpp commented on #511
[This](https://github.com/yarnpkg/berry/tree/master/packages/yarnpkg-core/sources) is the state of the art with regard to plugin architectures. Also, [createRequire](https://nodejs.org/api/modules.html#modules_module_createrequire_filename) helps enormously

[2020-06-15 10:06] elmpp opened #521 "Best way to add auto orientation for ios"
Am looking to add orientation support (e.g. rotate screen to trigger landscape layout) for ios but am a bit unsure what values to add. Could i get an example please?

Looking at the [platform docs](https://renative.org/docs/next/api-config#ios-1) it suggests a possible mix of `orientationSupport` and `appDelegateApplicationMethods` but bit out of depth here.

This is for KitchenSink project with n

[2020-06-16 09:07] pavjacko commented on #521
add this snippet to `renative.json`

[code]

will result in:

![Jun-16-2020 11-03-55](https://user-images.githubusercontent.com/4638697/84755022-72ee7300-afc1-11ea-870a-ad5bc6963044.gif)

[2020-06-16 09:15] elmpp commented on #521
Thank you!

[2020-06-16 12:23] #521 closed

[2020-06-17 09:23] TheDuc opened #522 "Babel does not compile files in platformAssets/runtime"
Files in platformAssets are not compiled by babel. This poses a problem on older platforms with `fontManager.web.js` that contains an arrow function (or any other runtime files).
This can locally be fixed by adding a virtual plugin
[code]
to plugins in renative.json. This adds the `platformAssets/runtime` folder to the include rules of babel.
But I believe this should be fixed in renative itself

[2020-06-17 18:59] luiscerqueira opened #523 "Cannot run project on ios"
I'm starting a helloworld project and i am trying to run it on an IOS simulator, but with no avail.

## Configurations
- OSX: v10.14.5
- xcode: v10.2.1
- swift: v5.0.1
- cocoa pods: v1.8.4
- simulator: iPhone 6 - 12.2
- rnv: v0.29 (tried in 0.28.18, with te same results)
- node: v12.5.0
- npm: v6.9.0

## Steps
1. `npm install -g rnv`
2. `rnv new`
 - choose rnv as workspace
 - choose  default app i

[2020-06-18 07:18] pavjacko commented on #523
@luiscerqueira
connection problem can be fixed by executing `rnv start -p ios` this only starts server and skip compilation / run

could you try `npm install -g rnv@latest` (incoming 0.29.1 alpha)
and same steps above?

if it persists it would be helpful if you post full output of your console to be able to pinpoint the issue

[2020-06-18 07:37] pavjacko commented on #522
Thanks @TheDuc fixed in this commit:
https://github.com/pavjacko/renative/commit/be795306fcb3fa66f73828ac197cc428fc15a802

will be shipped with `0.29.1`

[2020-06-18 07:40] TheDuc commented on #522
thanks for the quick fix as usual!

[2020-06-18 07:40] #522 closed

[2020-06-18 08:44] mihaiblaga89 opened #524 "renative.json not merging with workspace ones"
**Describe the bug**
if you have a `.workspace/renative.json` it will not get merged with `.rnv/renative.json` so you'll need to define the sdks there as well.

Errors:
- ✅ Found existing android SDK location at /Users/---/Library/Android/sdk? Do you want to use it? (Y/n)
- Cannot read property 'ANDROID_NDK' of undefined

**Expected behavior**
Would expect to have my sdks inherited from the global

[2020-06-19 20:26] SandeepKharbanda commented on #506
Any update on this as I need to submit the app to the respective store?

[2020-06-21 20:35] pavjacko commented on #506
@SandeepKharbanda fix for this is coming in `0.30.0` (upcoming release)
you can test latest alpha preview `0.30.0-rc2`

you override default value for Button with `activeOpacity` as per example excerpt from hello-world below:

[code]

[2020-06-23 07:16] #444 closed

[2020-06-23 07:16] #490 closed

[2020-06-23 07:16] #506 closed

[2020-06-23 10:16] sanderlooijenga opened #527 "Add Contributing guidelines"
**Is your feature request related to a problem? Please describe.**
I would like to know how I can correctly contribute to this repo. E.g. do I need to write commits in a certain way (keeping in mind automated changelogs perhaps) and all that good stuff.

**Describe the solution you'd like**
A `CONTRIBUTE.md` on how to correctly contribute to RNV. You can look at Github's docs on this here; https:/

[2020-06-24 09:10] Ivanov89 opened #528 "ERRROR! Location of your cli *** does not exist. check your undefined file if your SDK path is correct"
1.Run command `rnv start`
2. Run command `rnv run -p android `
2. See error

**Expected behavior**
Expected to build the project on android emulator, but crashed with the error:

<img width="858" alt="Screenshot 2020-06-24 at 12 06 23" src="https://user-images.githubusercontent.com/4004486/85526998-259e8100-b613-11ea-8fab-fcef43d3bdfb.png">

**Desktop (please complete the following information):**

[2020-06-24 09:47] pavjacko commented on #528
@Ivanov89 you can manually update your `~/.rnv/renative.json` with:

[code]

that's the best place to keep your SDK configs

NOTE: you must pass root folder of your SDK (not tools)

typically (on macOS) that's:

- `usr/local/android-sdk`
- `~/Library/Android/sdk`

For brew installations usually:

- `/usr/local/Caskroom/android-sdk/<VERSION>`
- `/usr/local/Cellar/android-sdk/<VERSION>`

[2020-06-24 10:00] pavjacko commented on #527
@sanderlooijenga good point. will put proper contribution guidelines together soon.

[2020-06-24 10:24] Ivanov89 commented on #528
@pavjacko I updated it ,but the problem is that the script still search somewhere the old directory, for example:
`/Users/Ivanov/Android/platform-tools/adb` , where I can delete that old directory ?

Thanks!

[2020-06-24 10:37] pavjacko commented on #459
@numericgraphics sorry about late response here. snowed with tasks recently.

rnv `0.29.0` and latest `0.30.0` added support for `'@noriginmedia/react-spatial-navigation'`

if you check hello world example there and see if it works for you.

Also here is a quick debug UI snippet which would allow you to debug key strokes:

[code]

you can then add it to `src/app/index.web.js`:

[code]

Result shou

[2020-06-24 11:11] pavjacko commented on #528
@Ivanov89 that's strange could you check your project `.renative.*.json` and appConfigs `renative.*.json` if you don't override  it with `ANDROID_SDK`

as you're on mac you could also navigate to your project root and try `grep -r '"ANDROID_SDK":' ./` see where is it defined (platformBuilds, node_modules can be ignored)

also if you check `platformBuilds/<YOUR_APP_ID>_android.json file what do you

[2020-06-24 11:38] Ivanov89 commented on #528
Seems, only in `/node_modules/rnv/supportFiles/global-config-template.json` is saved the old SDK directory, even I hit `rnv clean` before every `rnv run -p android`:

`Ivanov@Ivanovs-MacBook-Pro cms-casino % grep -r '"ANDROID_SDK":' ./
.//appConfigs/base/renative.json:      "ANDROID_SDK": "/usr/local/Caskroom/android-sdk/4333796"
.//node_modules/rnv/supportFiles/global-config-template.json:

[2020-06-24 12:10] pavjacko commented on #528
@Ivanov89 ok let me see.

what do you get if you run `cat ~/.rnv/renative.json` in teminal ?

BTW you definitely don't need `rnv clean` before every run. it's an overkill. If you want to cleanup your build just pass `-r` ie: `rnv run -p android -r` . that will regenerate the whole android project for you

[2020-06-24 12:14] Ivanov89 commented on #528
after hit `cat ~/.rnv/renative.json` :

`Ivanov@Ivanovs-MacBook-Pro cms-casino % cat ~/.rnv/renative.json
{
   "sdks": {
      "ANDROID_SDK": "/Users/Ivanov/Android",
      "ANDROID_NDK": "/Users/<USER>/Library/Android/sdk/ndk-bundle",
      "IOS_SDK": "No need. Just install Xcode",
      "TIZEN_SDK": "/Users/<USER>/tizen-studio",
      "WEBOS_SDK": "/Users/<USER>/Library/webOS_TV_SDK",
      "KAI

[2020-06-24 12:17] pavjacko commented on #528
yup that's it. can you update "ANDROID_SDK" to `/usr/local/Caskroom/android-sdk/4333796`

[2020-06-24 12:22] Ivanov89 commented on #528
It is updated but I think when I hit `cat ~/.rnv/renative.json` may be it is overriden, because the below is my code, the above is info from the terminal:

`"sdks": {
        "ANDROID_SDK": "/usr/local/Caskroom/android-sdk/4333796",
        "ANDROID_NDK": "/Users/<USER>/Library/Android/sdk/ndk-bundle",
        "IOS_SDK": "No need. Just install Xcode",
        "TIZEN_SDK": "/Users/<USER>/tizen-stud

[2020-06-24 12:24] pavjacko commented on #528
Ok found the culprit.
The issue was that RNV checks the existence of your ANDROID_SDK (as folder) and that will return true for
`/Users/Ivanov/Android`
however `sdk` fields are not merged thus your project specific overrides did not work

I'll make few adjustments to RNV to fix merges and  make this issue clearer with correct path pointing to that renative file

for now you have to rely on  `~/.rn

[2020-06-24 12:44] Ivanov89 commented on #528
Are you sure I should rely only on `~/.rnv/renative.json` (workspace location) , because I configured it only in that place and still don't working ?
 I updated the RNV to `0.30.1` too right now.

[2020-06-24 13:36] YousefAlsbaihi opened #530 "no such file or directory when running tvos"
i have followed the documentation in the docs on the website [here](https://renative.org/docs/) all of it from the begging and when i try to run the tv i get this error

[code]

Node v12.18.1
npm v6.14.5

[2020-06-24 15:29] pavjacko commented on #528
@Ivanov89 could you update to `rnv@0.30.2-alpha.1` (contains fix I mentioned above) and see if it fixes for you.

if not can you run it with `-i` parameter (full info log) and check what's printed at `CLI Config:` and `SDK Config:` lines

[2020-06-24 15:36] pavjacko commented on #530
@YousefAlsbaihi could you paste full SUMMARY box here so I can see what command, rnv, scheme etc you running.

Also link you posted does not work? did you mean this https://renative.org/docs/platform-tvos ?

[2020-06-24 15:44] pavjacko commented on #514
@JohnLiber rnv `0.30.0` has been released with path fixes to WIN based android projects

[2020-06-24 15:47] pavjacko commented on #523
rnv `0.30.0` has been released with additional fixes to build locations of iOS projects

[2020-06-24 15:50] pavjacko commented on #507
fixed in `0.30.0`

[2020-06-24 15:50] #507 closed

[2020-06-24 17:08] pavjacko commented on #510
@CHaNGeTe tested with `0.30.0`. should work correctly now

[2020-06-24 17:08] #510 closed

[2020-06-24 17:34] pavjacko commented on #524
@mihaiblaga89 could you try `0.30.2-alpha.2` from this PR #529

[2020-06-24 21:37] YousefAlsbaihi commented on #530
so here is the full clean log
i created new app and followed the documentation in the website here from the start

https://renative.org/docs/intro-quickstart

Running the app on ios device such iPhone works fine and the web also fine but the TV is not, i don't have apple developer account but i signed into xCode using my free account.

[code]

[2020-06-25 07:26] pavjacko commented on #530
@YousefAlsbaihi thx. that helped. I think I know what's wrong

Can you check your `./appConfigs/base/renative.json` and change:

[code]

to

[code]

[2020-06-25 08:02] pavjacko commented on #528
@Ivanov89 ok I see. Just checked fresh installation of android sdk via homebrew and `android-sdk/4333796` only contains `tools` but no `platform-tools` where adb typically resides

where is your `adb` located?  just run `which adb` to get the path

[2020-06-25 08:41] Ivanov89 commented on #528
@pavjacko ,
thank you for your feedback, it already works after I set again the ANDROID_SDK and after the fix - it accept it correctly !
Thanks again for your support !

Cheers ! :)

- Todor -

[2020-06-25 14:55] #524 closed

[2020-06-25 15:09] pavjacko commented on #528
fix released in `0.30.2`

[2020-06-25 15:09] #528 closed

[2020-06-25 16:23] TheDuc opened #531 "[Tizen TV] files named *.tizen.js not found by webpack"
The extension `*.tizen.js` are not found. Only `*.tizen.tv.js`.
I believe that there should be no tv in this line for the tizen platform.
https://github.com/pavjacko/renative/blob/9707e93c6e19a2ddde6aeed45ff7e3180e3fe0d4/packages/rnv/src/constants.js#L99

[2020-06-26 07:32] Ivanov89 opened #532 "Error: Command failed with exit code 1 (EPERM): ./gradlew assembleDebug -x bundleReleaseJsAndAssets"
Аfter hitting `rnv run -p android` it crashed with the following error,after loading the android emulator:

**To Reproduce**
Just run `rnv run -p android` in the terminal

<img width="728" alt="Screenshot 2020-06-25 at 13 12 28" src="https://user-images.githubusercontent.com/4004486/85832066-13018480-b798-11ea-8d9a-af1996a718bc.png">

**Desktop (please complete the following information):**

-   O

[2020-06-26 07:35] pavjacko commented on #532
@Ivanov89 could you upgrade `rnv` to final `0.30.2`. there were some extra fixes added before final release

[2020-06-26 07:47] pavjacko commented on #531
@TheDuc good catch! released `0.30.3` with the hotfix.

[2020-06-26 08:05] TheDuc commented on #531
thanks!

[2020-06-26 08:05] #531 closed

[2020-06-26 08:23] Ivanov89 commented on #532
@pavjacko , the error still exists unfortunately:

`│ ⚠️  $ rnv run -p android -r - WARNING: You are running $rnv v0.30.3 against project built with rnv v0.30.2-alpha.2. This might result in unexpected behaviour!
It is recommended that you run your rnv command with npx prefix: $ npx rnv run -p android -r . or manually update your devDependencies.rnv version in your package.json.
│ ✅ Found active e

[2020-06-26 11:09] pavjacko commented on #532
Hmm then it might be something different.  can you run `rnv run -p android -r -i` and post the error log there should be more detailed gradle error visible

[2020-06-26 11:15] Ivanov89 commented on #532
So this is the error log after hitting `rnv run -p android -r -i` :

`2020-06-26T14:13:40.791+0300 [DEBUG] [org.gradle.launcher.daemon.client.DaemonClientConnection] thread 1: connection stop
undefined
generateOptions true
┌──────────────────────────────────────────────────────────────────────────────┐
│  🚀  SUMMARY | 6/26/2020, 2:13:41 PM                                         │
│  $ rnv run -p

[2020-06-26 12:03] pavjacko commented on #532
@Ivanov89
strange if you getting ONLY `DaemonClientConnection] thread 1: connection stop` and nothing else.

I noticed your platforms (android, ios) are marked as ejected. is that on purpose? if not can you remove `platformTemplatesDirs` from your `renative.json` manually or run `rnv platform connect`
and try `rnv run -p android -r -i` again so your project will use latest native templates

Furthe

[2020-06-29 11:53] jrsalazar-dev opened #533 "Missing function writeCleanFile in docker export"
**Describe the bug**
Creating a docker image produces missing function error.

**To Reproduce**
1. Generate any fresh `rnv` project
2. Run any docker-enabled platform (such as `rnv run -p web -e next`), this works fine
3. Now export this same platform `rnv export -p web -e next -t docker`
4. Next export is successful, error occurs during `docker:Dockerfile:create`

**Expected behavior**
Build to f

[2020-07-01 14:45] sanderlooijenga opened #534 "RNV run with url / (data) uri"
**Is your feature request related to a problem? Please describe.**
It might be nice to have the possibility to use the `rnv run` command and specify a url / (data) uri to launch the application with, to give some deep linking possibilities. Like can be seen here; https://reactnavigation.org/docs/deep-linking/#test-deep-linking-on-ios

**Describe the solution you'd like**
To have the possibility to

[2020-07-02 09:56] JoaoCEAlmeida commented on #429
Hi,
I've just upgrade my renative to 0.30.3 version and everything is fine, but i'm trying to upgrade react-native to 0.62.x using the same approach discussed above. In the web it works, but on Android i'm getting errors.
I think the problem is related with renative package since it requires the "react-native": "0.61.2" (see image bellow).
![image](https://user-images.githubusercontent.com/9196047

[2020-07-02 10:02] CHaNGeTe commented on #429
@JoaoCEAlmeida
npm i / yarn add
**rnv**@desired-version

then your renative version will be updated to the corresponding rnv version.

Indeed `npx rnv@desired-version whatever (run / build / etc)`
should trigger the update as well

[2020-07-02 10:17] JoaoCEAlmeida commented on #429
@CHaNGeTe I'm not having with upgrading renative, the problem is related to react-native.

Renative requires the react-native 0.61.2, and I need the version 0.62.2. When upgrading to the version needed I'm facing that problem explain above.

Thanks.

[2020-07-02 10:23] CHaNGeTe commented on #429
oh sorry, I missread it

Are you using yarn by any chance?

[2020-07-02 10:30] JoaoCEAlmeida commented on #429
I tried both, npm and yarn. Facing the same problem.
Renative required exactly the 0.61.2 react-native version, that's why I end up with two versions of it.

(_yarn.lock_)
![image](https://user-images.githubusercontent.com/9196047/86348094-19d83d80-bc57-11ea-9068-932973cb0dcf.png)
![image](https://user-images.githubusercontent.com/9196047/86348119-22307880-bc57-11ea-904d-a7d58021f2a5.png)
![image]

[2020-07-02 11:00] CHaNGeTe commented on #429
Yarn comes with a resolution feature that maybe can help you there, but don't know if renative will override (probably), but I guess is free to test haha.

You can place on package json a `resolutions` key with an object on it, f.e:
[code]
https://classic.yarnpkg.com/en/docs/selective-version-resolutions/

[2020-07-02 11:38] pavjacko commented on #429
@JoaoCEAlmeida technically you can override react-native dep by adding plugin override to `renative.json`

[code]

BUT IMPORTANTLY:
it will not work because rn `0.62.2` introduced several breaking changes which will have to be incorporated into rnv beforehand.  I want to tackle it within the span of 4 weeks (target release ~ `0.32.0`) but for now you have to use current version.

In theory you cou

[2020-07-02 15:48] JoaoCEAlmeida commented on #429
I'll wait then for a new version of renative, with the 0.62.2 react-native. I think this is an important update because some bugs on androidtv are fixed in the newer version of react-native, like this one: https://github.com/facebook/react-native/commit/21890e964df7674fcf13cefc8cb939441f6eddef

Thanks for the help.

[2020-07-03 09:50] sanderlooijenga opened #535 "Recursive/nested plugin scopes/templates"
**Is your feature request related to a problem? Please describe.**
I know that in RNV we have the possibility of defining a source/scope for plugins, as mentioned [here in the docs](https://renative.org/docs/api-config#source). I was wondering however if we can have this "multiple-levels deep"/recursive.

So e.g. consider the following scenario; within your root (project's) `renative.json` you hav

[2020-07-05 11:39] CiaranPearse commented on #532
I fixed this exact error by removing the dash (-) from my project name everywhere. I had an error further up that said
`AAPT: error: attribute 'android:name' in <activity> tag must be a valid Java class name.`

Looks like you have folders named cms-casino. Try renaming to cmsCasino

[2020-07-06 08:43] Ivanov89 commented on #532
@pavjacko ,
I need that platforms to be ejected,
and I still cannot run neither on simulator, neither on device, the following error occurs:

`BUILD FAILED in 791ms
┌──────────────────────────────────────────────────────────────────────────────┐
│  🚀  SUMMARY | 7/6/2020, 11:42:11 AM                                         │
│  $ rnv run -p android -d

[2020-07-06 09:36] pavjacko commented on #532
@CiaranPearse ok so wrt Activity.

by default AndroidManifest.xml is generated with

[code]

that should correspond to EXACT acitivy location:

`platformBuilds/<appConfig>_android/app/src/main/java/rnv/MainActivity.kt`

and your `MainActivity.kt` should have package:

[code]

defined same as your app id id `platformBuilds/<appConfig>_android/app/build.gradle`

[code]

normally this is autogenerate

[2020-07-06 09:42] pavjacko commented on #532
@Ivanov89 it's hard to debug ejected projects as it is not possible to for me to replicate your env and platformTemplates setup because it's only available in your project

but could you try following:

 navigate to `./platformBuilds/<appConfig>_android` and run `./gradlew assembleDebug --debug -x bundleReleaseJsAndAssets` manually

and see/share exact error do you get?

[2020-07-06 09:48] Ivanov89 commented on #532
@pavjacko , ok so after the above command that is the exact error:

` vice] Worker lease root.1 completed (0 worker(s) in use)
2020-07-06T12:46:44.040+0300 [DEBUG] [org.gradle.internal.resources.AbstractTrackedResourceLock] Daemon worker Thread 6: released lock on root.1
2020-07-06T12:46:44.040+0300 [ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
2020-07-06T12:46:44.041+0300 [ERRO

[2020-07-06 10:09] pavjacko commented on #532
@Ivanov89 hmm seem very generic:

FAILURE: Build failed with an exception. 2020-07-06T12:46:44.041+0300
[ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] 2020-07-06T12:46:44.041+0300
[ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter]
* What went wrong: 2020-07-06T12:46:44.041+0300
[ERROR] [org.gradle.internal.buildevents.BuildExceptionReporter] A problem occurred confi

[2020-07-06 13:34] elmpp opened #537 "Make Override System Portable"
**Is your feature request related to a problem? Please describe.**

It would be very beneficial if RNV's override system was more standardised and could be applied via other methods.

On the most part this is ok for building static deployables (which can then be deployed independently) but presents a problem when runtime dependencies are in need of patching also (i.e. Next)

An example concrete us

[2020-07-06 18:29] CiaranPearse commented on #532
@pavjacko Those are identical. Also I didn't eject. This is a fresh project pretty much put of the box.

The issue for me has popped up again. But only on AndroidTV. Android (phone) works fine as well as iOs & Web.

[2020-07-06 23:53] stevenmcmanus opened #538 "Running Renative on an Android TV over TCP/IP"
Is there a way to connect to an Android TV over TCP/IP?

I noticed when running (rnv run -p androidtv) it kills the adb server, then starts it again, meaning I can't use a networked TV for debugging, since I have to connect to it manually each time adb server starts.

[2020-07-07 06:26] hosek commented on #538
This can by done by combination of parameters `-d` for running on device and `-t` to specify the target
`npx rnv run -p androidtv -d -t X.X.X.X:5555` (Haven't used it for a while, so I'm not sure if port is needed or not, have to check)

[2020-07-07 06:51] pavjacko commented on #532
@CiaranPearse could you check following:

- what is your JDK version? mind you only 1.8.x is recommended as stable to use (tested with `1.8.0_131`)
- what is your gradle version? androidtv has been tested specifically with distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.1-all.zip
- what is your buildToolsVersion in build.gradle? androidtv has been tested with `buildToolsVers

[2020-07-07 07:00] stevenmcmanus commented on #538
Adding the port was the problem. Thank you.

[2020-07-07 07:00] #538 closed

[2020-07-07 07:08] pavjacko commented on #537
@elmpp yes, as rnv plugin support grows, more robust override system will be needed. especially when it comes to

- versioning
- diffing / patching
- compiled files overrides
- dist regeneration

standard RN plugins are not affected as badly due to their simplicity and non compiled code nature and so it was generally manageable. nextjs is much bigger beast. forking was proven not viable either.

w

[2020-07-07 07:40] elmpp opened #542 "Make start/dev Executable Commands Configurable"
**Is your feature request related to a problem? Please describe.**

We now use a [bespoke server](https://github.com/24i/prd-nxg-sdk-ui/pull/161/files#diff-fc744a68017f9d02ec91f92766d534d1) with Nextjs that is not started via the usual `next start/dev` commands that [RNV assumes](https://github.com/pavjacko/renative/blob/0332da928f9721b5a170e67c5d35323faab6b351/packages/rnv/src/platformTools/web/w

[2020-07-08 08:33] Ivanov89 commented on #532
@pavjacko , I changed that line from `gradle-wrapper.properties`to :

`distributionUrl=https\://services.gradle.org/distributions/gradle-4.10.1-all.zip` , because it was 4.0.4 оr something like that and now it is working !  : )

Thanks for your help anyway!
Todor

[2020-07-09 04:28] pavjacko commented on #542
introduction of rnv engines (#511) will bring support for overriding engine specific tasks ie `run`.

Example config:

[code]

Example usage:

`rnv run -p web`

[2020-07-09 07:54] SandeepKharbanda opened #544 "Unable to add third party packages in AndroidTV"
Hi

In my current application, I am trying to install third-party packages i.e 'react-native-vlc-player', 'react-native-crypto-js' etc.
and added it in` renative.json` but still Renative doesn't include these package settings in Android TV `settings.gradle`, `app/build.gradle` & `app/src/main/java/rnv/MainApplication.kt`.

I have also added these files in Renative's `appConfigs/base` folder with t

[2020-07-09 09:00] pavjacko commented on #544
@SandeepKharbanda can you share how your  `./renative.json` section:

[code]

looks like

[2020-07-09 11:08] SandeepKharbanda commented on #544
@pavjacko I have tried with both ways but still, I am getting an error.

`"react-native-vlc-player": "source:rnv"`

[code]
And, the package is working fine in react-native.

[2020-07-09 11:14] aurimasmi commented on #544
replace `android` with `androidtv`

[code]

[2020-07-13 06:44] elmpp opened #546 "NextJS upgrade"
As part of some work with handling responses, we're reliant on a new [NextJs feature](https://github.com/vercel/next.js/releases/tag/v9.4.2)

What would be the best method of upgrading?

[2020-07-15 12:58] saubhagya23 opened #547 "Unable to execute application due to version update"
Hi,
I'm developing an application in renative. The version of renative being used in application is 0.28.18 and the version installed in my system is 0.30.0.

My application is using creataApp() method of renative navigation which is not working as the navigation is completely different in 0.30.0. How can I execute the application in 0.30.0 version without having to change the whole navigation alt

[2020-07-15 14:47] robertobrogi opened #548 "navigation TizenTv"
**Describe the bug**
I try use the renative-template-hello-world and the build with real device work fine but when i try use the remote control doesn't work the navigation.... i need config the key?
thanks

**To Reproduce**
rnv run -p tizen -d -t IP_TV_ADDRESS

**Desktop (please complete the following information):**
-   RNV Version [e.g. 0.30.4]

[2020-07-16 03:03] paulovitin opened #549 "React-Native with Recoil, nothing happens"
**I know is to soon** to do something like using a [non-official support recoil in react-native](https://github.com/facebookexperimental/Recoil/issues/99#issuecomment-641348817), but I tried to do that, and it worked well for web, however, for webos nothing happens.

I tried to install ipk and use inspect in debug mode, but I get zero information. The only thing I see is the background color defin

[2020-07-16 10:25] robertobrogi commented on #548
Nothing.... the navigation doesnt work in real device and not working in emul device....
whats wrong?

thanks

[2020-07-16 10:35] JoaoCEAlmeida opened #550 "react-native-splash-screen support to androidtv"
Hi everyone,

I'm using the package react-native-splash-screen to create a spalshscreen for my app, but i noticed that it only supports android and ios.

![image](https://user-images.githubusercontent.com/9196047/87661176-1913d100-c758-11ea-866d-342ff8147291.png)

I'm wondering if it's possible to give support to androidtv?

Thanks in advance,
Joao

[2020-07-16 11:13] pavjacko commented on #546
atm nextjs upgrade process is a bit cumbersome. it requires local copy of nextjs with applied changes which then need to be build into dist folder which that can be used for specific file overrides.
@mihaiblaga89 was looking into way how to make it less painful.
but in general this will require more robust override system with support for diffing and build execution to generate updated dist files

[2020-07-16 11:24] pavjacko commented on #547
@saubhagya23 try to downgrade `renative` plugin to `0.28.18` while keeping `rnv` at `0.30.0`

I can't guarantee it will work but most of the files required for old UI to work are in `renative` runtime library. once downgraded you could also extract all required files from `./node_modules/renative/src` and paste them to your project src and remove unused ones and upgrade up to latest renative.

mos

[2020-07-16 11:33] pavjacko commented on #548
@robertobrogi investigating the issue

[2020-07-16 13:23] robertobrogi commented on #548
@pavjacko many thanks... tell me if you have news...

[2020-07-16 16:03] pavjacko commented on #548
@robertobrogi can you try this:
 open `./src/app/index.web.js` and add:

[code]

to the App function. full code of whole file:

[code]

see if that helps

[2020-07-16 16:56] pavjacko commented on #550
@JoaoCEAlmeida yeah it looks like ti should be simple to support. I'll look into adding it in next release.
you can already try it yourself by extending splash plugin in your `renative.json`

and adding relevant splash files to `./appConfigs/<appID>/base/assets/androidtv

from:

[code]

to:

[code]

[2020-07-17 05:47] saubhagya23 commented on #547
@pavjacko Thank you for your response. I tried the same but it did not work.
**In future will there be such drastic change in upcoming versions around features like navigation, analytics, live streaming, VAST, etc. ?**

[2020-07-17 07:17] pavjacko commented on #547
@saubhagya23 unfortunately this change was necessary to ensure `renative` runtime will stay impartial to specific navigation and let plugins determine how you build your app nav and other functionality.

Longer I would wait more people would rely on very specific implementation + dependencies making it difficult to upgrade in future.

any future "universal" navigation would be made available troug

[2020-07-17 07:55] robertobrogi commented on #548
Thanks, i try but i use in tizen device not in web (./src/app/index.web.js)

[2020-07-17 07:55] JoaoCEAlmeida commented on #550
@pavjacko thanks for the fast reply.

I'll try extending the splash-screen to androidtv, using your example. :)

[2020-07-17 08:28] JoaoCEAlmeida opened #551 "timestampAssest how to use it?"
Good Morning guys,

I'm currently trying to use the timestampAssest in my renative.json:
![image](https://user-images.githubusercontent.com/9196047/87764814-deb93b00-c80e-11ea-8653-6a17c2cfa4b4.png)

When I enabling it, I'm getting the following warning when I run the app:
![image](https://user-images.githubusercontent.com/9196047/87764874-fabcdc80-c80e-11ea-8d07-9d604e575eac.png)

I'm getting the

[2020-07-17 10:00] pavjacko commented on #549
@paulovitin if you run your command with `--debug` options it should inject weinre debugger.
so run:

`rnv run -p webos --debug`

and then run separate

`weinre --boundHost -all-`

and open web debug console at `http://localhost:8080/client/#anonymous`

you should see something like this:

![Jul-17-2020 11-57-58](https://user-images.githubusercontent.com/4638697/87774551-f7345000-c824-11ea-8052-fe

[2020-07-17 10:11] pavjacko commented on #551
@JoaoCEAlmeida  Looks like a gap in docs. could you also add this part to your config:

[code]

[2020-07-17 10:41] JoaoCEAlmeida commented on #551
@pavjacko Thanks for the fast reply, it seems to work now.

![image](https://user-images.githubusercontent.com/9196047/87778057-7e33f900-c822-11ea-99bb-eb7f9e83c411.png)

[2020-07-17 15:05] paulovitin commented on #549
@pavjacko 🙏  thanks, man.

I come back with the answer to what I find out. Maybe it helps someone

[2020-07-20 18:37] #478 closed

[2020-07-21 22:31] #469 closed

[2020-07-22 09:43] #464 closed

[2020-07-30 05:01] saubhagya23 opened #554 "Modifying index.html for web application"
Hi,
I need to add some scripts to my web application. So I created a new index.html in **./appConfigs/base/builds/web/index.html** to override **./platformBuilds/[APP_ID]_[PLATFORM]/[FILE_PATH]** .

Also I tried copying **platformBuilds/_shared/template.js** to **platformConfig/builds/_shared/template.js** and modify it.  But it didn't work. It only seems to work when the changes are made directly

[2020-07-30 06:54] elmpp opened #555 "Babel-loader dependency missing"
**Describe the bug**
Running latest rnv causes babel-loader problem.

**To Reproduce**
rnv run (web platform)

**Expected behavior**
That `run` works

**Screenshots or copy&paste**

https://hastebin.com/opokidazal

![Screenshot 2020-07-30 at 08 54 11](https://user-images.githubusercontent.com/864612/88890680-41b0c600-d242-11ea-9791-855e826cf3b7.png)

**Additional context**
Same codebase was workin

[2020-07-30 18:56] pavjacko commented on #554
@saubhagya23  ah I see. this seems to be a wrong (legacy) documentation.

instead of `platformConfig/builds/_shared/template.js`
it should be:
`appConfigs/base/builds/_shared/template.js`

That should work

will update the docs to avoid confusion

[2020-08-05 19:25] hosek opened #556 "Add support for rnv plugin props arrays"
**Is your feature request related to a problem? Please describe.**
Please consider adding support of arrays as rnv plugin prop like

`
"react-navigation-deep-linking": {
            "no-npm": true,
            "props": {
                "URL_SCHEMES": [{
    scheme: 'https',
    host: 'test'
    },
    {
    scheme: 'test',
    host: null
    }]
            },`

with some basic loop support for te

[2020-08-12 13:28] elmpp opened #558 "Swap Jettifier to full dependency"
**Is your feature request related to a problem? Please describe.**

As it's used in a postinstall, jettify needs to be a full dep, not a devDep. That way we can do `npm i --production`

[2020-08-17 08:54] AndrejJurkin opened #559 "Integrating RNV apps with Sentry"
I’m trying to add Sentry lib to our RNV projects. https://docs.sentry.io/platforms/react-native/manual-setup

I tried adding the following lines into renative.json

[code]
On iOS build crashes after this log:
[code]
It looks like there is a conflict in Sentry dependencies, 4.1.0 vs 5.2.0 for some reason.

**Any ideas what could be the issue please?**

On Android the setup requires modifying gradle

[2020-08-17 12:46] jasmeet447 opened #560 "Text Scroll Issue in TVOS"
Hii, I've been trying to make a scrollable text component for tvos like the one we see in terms and conditions box in a lot of applications. The code works fine for android tv but the text doesn't scroll down in tvos.
The code snippet is as follows:

<ScrollView style={
        {
        flex: 1,
        paddingTop: getScaledValue(50)
        }}
    contentContainerStyle={{
        alignItems: 'ce

[2020-08-18 05:36] saubhagya23 opened #561 "Issue with social sign-in"
Hello,

I have to implement social sign-ins like via google, facebook ,etc. in my application. While implementing **google sign-in with OAuth2.0** I was facing this issue. The authorised redirect URIs does not consider _http://0.0.0.0:8080_ as a valid URI. So, We are getting the following error:
**Error 400: invalid_request**
Permission denied to generate login hint for target domain.

How can we

[2020-08-18 05:51] aurimasmi commented on #561
Hi,

I been working with those social networks integrations time ago and they used to give ability to authorize your development url which typically is your localhost.
If it's not the case anymore try to create virtual host which would point to your localhost something like: `127.0.0.1       mylocaloauthtest.com` and authorize it

[2020-08-19 14:52] husseinmkwizu opened #562 "Widevine DRM content not playing on emulator, how do I specify tizen permissions?"
I am developing  a player for our Smart TV app. I have done the integrations with widevine DRM using shaka player, they are working fine in Firefox and Chrome using. "rnv run -p tine --hosted", the issue is when I run it on emulator I am not able to play the video streams. Any ideas why?

My guess is I need to add permissions for DRM, as in this Samsung DRM example

https://github.com/SamsungDForu

[2020-08-20 09:24] ali-sao commented on #562
Hello @husseinmkwizu , I don't think it is possible to play DRM on emulator.

[2020-08-20 09:27] husseinmkwizu commented on #562
Thanks for the reply. can you describe how I can add permissions then? Because that will be required even on a real device

[2020-08-20 09:30] ali-sao commented on #562
@husseinmkwizu the Samsung DRM example is all about it buddy.

[2020-08-20 09:37] husseinmkwizu commented on #562
What I mean is the keys and values I can use in renative.json for tizen. something like this

https://renative.org/docs/api-config#permissions

I have tried to edit the config.xml generated by renative at platformBuilds/PROJECT_NAME/config.xml, but it seems like renative is generating it's own and overwriting the config I wrote.

So I was wondering which keys I should use on the renative.json, so

[2020-08-23 08:33] jasmeet447 opened #563 "How to create release build of AppleTV"
Hi, I'm using renative version 0.28.18 and I'm trying to create a release build for tvos using the command:
npx rnv build -p tvos -s release

I get an error that says:

FAILED with ERROR:

xcodebuild: error: The workspace named "RNVAppTVOS" does not contain a scheme named "RNVAppTVOSRelease". The "-list" option can be used to find the names of the schemes in the workspace.

Can I get any help on h

[2020-08-26 13:41] doneitas commented on #560
As far as I know, tvOS would not scroll or do anything if there are no focusable elements. AndroidTV has that default behaviour to scroll even when there is no focused items but if I'm not mistaken tvOS doesn't have that. So that means this approach will not work on tvOS 🤔

[2020-09-01 11:43] sanderlooijenga opened #565 "Upgrade Next JS to 9.5"
**Describe the solution you'd like**
We would like to use the following features available since 9.5;

- https://nextjs.org/docs/api-reference/next.config.js/redirects
- https://nextjs.org/docs/api-reference/next.config.js/rewrites

**Describe alternatives you've considered**
Using Next standalone (so not as a RNV plugin) 😁

**Additional context**
https://nextjs.org/blog/next-9-5

[2020-09-02 16:26] Emzawadzki opened #566 "rnv run for webOS not working on Ubuntu"
**Describe the bug**
Running on Ubuntu 20.04, renative current version (0.30.4) results in error. Tried on new project, created from `renative-template-hello-world` template, with no additional changes.

webOS emulator is installed in `/usr/local/share/webOS_TV_SDK` (default install location)

`~/.rnv/renative.json` file contents (only WEBOS_SKD) changed vs default one:

[code]

**To Reproduce**
[

[2020-09-03 04:12] jasmeet447 opened #567 "How to programmatically focus a touchable opacity component in tvOS ?"
Hi, I've been trying to implement a screen on tvOS that has a lot of touchable opacity elements(say movie cards, list elements, etc) and I want to programmatically focus a particular element when some action is performed, say to programmatically select a particular touchable opacity element on back navigation.
 I tried to implement hasTVPreferredFocus = {true}, but this property only focuses on th

[2020-09-03 06:12] Emzawadzki commented on #566
As far as I can see Ubuntu path is not being handled on webOS right now according to https://github.com/pavjacko/renative/blob/master/packages/rnv/src/platformTools/webos/index.js#L51 , am I right?

[2020-09-03 06:26] RicardasN commented on #567
You could try getting the ref of the TouchableOpacity you're trying to focus and then in-act `touchableRef.current.focus()` or alternatively `touchableRef.current.touchableHandleFocus()`

[2020-09-03 08:01] jasmeet447 commented on #567
Hi @RicardasN, I tried the suggestions you gave me. Both touchableRef.current.focus() and touchableRef.current.touchableHandleFocus() falied to work, touchableRef.current.touchableHandleFocus() gave an error : [TypeError: undefined is not an object (evaluating '_this.settingRefs[element].current.touchableHandleFocus')] .

When I try touchableRef.touchableHandleFocus() instead, It does call the tou

[2020-09-03 08:44] RicardasN commented on #567
It appears that you references are either not set at the moment you try to use it's inner methods or incorrect in later case if you're still getting focus on incorrect item. I would try to make sure the ref exists by trying to console.log it. If it does not then probably playing around with callbacks to await until they are set is your best bet. If ref is set however, but only does not get registe

[2020-09-03 09:16] jasmeet447 commented on #567
Hi @RicardasN, I made sure the ref exists by trying to console.log it and it does give me the item. However, trying to console.log(touchableRef.current) tells it as an undefined object.
I tried both of the syntaxes: touchableRef?.current?.focus?.() and touchableRef.current.setNativeProps({ hasTVPreferredFocus: true }). None of them could help me solve the issue.
I want to programmatically select a

[2020-09-03 09:33] tanujttn opened #568 "In react-player, How can we add codec to support .mkv, 4k Videos and live stream URLs for tvOS?"
**Current Behaviour:**
I am unable to play .mkv, 4K & live URLs on tvOS as these URLs are working on other platforms.

**Environment:**
URL attempting to play: http://tivix.eu:8000/movie/demo4/1SVHifcnbO/88814.mkv

[2020-09-03 09:39] RicardasN commented on #567
How are you setting your refs?
`<TouchableOpacity ref={touchableRef} />`
If not then obviously current is undefined. However if you're doing
`<TouchableOpacity ref={e=> this.touchableRef = e} />`
current object does not exist and you can try calling `touchableRef?.focus?.()` or alternatively `touchableRef?.setNativeProps?.({ hasTVPreferredFocus: true })`

[2020-09-03 10:34] jasmeet447 commented on #567
I'm using
<TouchableOpacity ref={e=> this.touchableRef = e} />
but calling touchableRef?.focus?.() doesn't help.
Already told: touchableRef?.setNativeProps?.({ hasTVPreferredFocus: true }) sets focus only to the nearest focusable opacity from the top-left corner of the screen irrespective of the touchableRefElement it was called for. So I cannot programmatically select and focus a particular view

[2020-09-04 12:22] jasmeet447 commented on #567
Hi @RicardasN, I'm now understood your point. I can get touchableRef.current and can call touchableRef.current.touchableHandleFocus(). I can see the touchableRef being focused. However, Nothing happens when I press the element. Even its onPress() does not get called.
Any ideas on how I can resolve this?

[2020-09-04 13:03] RicardasN commented on #567
Sorry, but no clue on this one, never experienced this issue myself

[2020-09-04 13:11] ix42 opened #569 "Export macos native app as pkg instead of dmg"
How can we pass the target to be pkg instead of dmg to the electron builder?

[2020-09-06 16:50] Emzawadzki commented on #566
I managed to run app by simply running emulator manually before `rnv run` command. I'll leave this issue as a reminder to add to documentation some info about that

[2020-09-07 10:10] anudeepjusanu commented on #459
Am also facing the same issue the keyEvent is not getting triggered on webos using rnv version 30.0.4 any updated on the support for webos

[2020-09-09 23:48] SandeepKharbanda opened #570 "How can we set "android.software.leanback" to "false" in Android TV's manifest file?"
Hi,

Currently, in my Android TV project, our **AndroidManifest.xml** has **"android.software.leanback"** to **"true"** i.e
[code]
And, I need to change its value to **"false"** and add the below code in the **renative.json** file i.e

[code]
But, it doesn't change its value to **"false"** in **AndroidManifest.xml**. Could you please help me out with this what am I doing wrong here?

Any help woul

[2020-09-10 09:30] ridhimagupta259 opened #571 "Remote Color Keys(red,green,blue,yellow) for androidtv not working!"
Hello

I am using TVEventHandler to handle events for Android TV but it is not handling events for Color buttons on android tv remote .

**how can we handle Color key events ?**

[2020-09-10 12:16] ridhimagupta259 opened #572 "How to trigger onkeydown in android tv?"
Hi,

I am not able to trigger onkeydown method in Android tv unlike in case of webos and tizen it is working fine .

**Is there a way to trigger it in androidtv?**

[2020-09-10 19:52] CharlesNjau opened #573 "How to trigger onkeyup on samsung tizen"
For some risen when deploying renative apps on real samsung televeision the arrows or any butto  events can't be triggered how can i resolve this

[2020-09-11 08:41] ali-sao commented on #573
You have to register the key first.
tizen.tvinputdevice.registerKey(key)

On Thu, Sep 10, 2020 at 10:52 PM Charles Njau <notifications@github.com>
wrote:

[2020-09-11 08:42] ali-sao commented on #573
Hello @CharlesNjau , you should register the key first :

`tizen.tvinputdevice.registerKey(key)`

[2020-09-11 11:51] CharlesNjau commented on #573
Can you provide an example cause i have tried to register this but still i am not able to move up and down

[2020-09-14 08:55] SandeepKharbanda commented on #570
Any update?

[2020-09-14 10:51] pavjacko commented on #570
@SandeepKharbanda sorry, swamped last few weeks. I can confirm top-level tags outside application not being merged into final AndroidManifest. fix coming up soon

[2020-09-14 19:53] aurimasmi commented on #572
Are you using [TVEventHandler](https://reactnative.dev/docs/building-for-tv)?

[2020-09-14 20:01] aurimasmi commented on #567
`hasTVPreferredFocus` is the way to do that properly. You can even set it programatically by accessing native props:

[code]
[code]
Also be aware that there is weird 1 sec delay for tvOS setting `hasTVPrefferedFocus`. You can use this solution as a reference to fix it https://github.com/react-native-community/react-native-tvos/pull/2. I assuming you're not using react-native-tvos so I just would r

[2020-09-15 04:42] ridhimagupta259 commented on #572
@aurimasmi  yes

[2020-09-15 05:07] pavjacko commented on #570
@SandeepKharbanda should fixed in latest alpha `0.31.0-alpha.25` release. official `0.31.0` will be out this week

[2020-09-15 05:51] aurimasmi commented on #572
Show me code example what are you trying to achieve for better understanding. Because TVEventHandler should do the job

[2020-09-15 06:00] ridhimagupta259 commented on #572
@aurimasmi
TVEventHandler does not support key code for colour buttons(red,blue,green,yellow) of android tv remote .

Thats why i was thinking maybe using onkeydown i can add colour keycodes conditions.

I am using TVEventHandler like this

`this._tvEventHandler = new TVEventHandler();
        this._tvEventHandler.enable(this, function (cmp, evt) {
            if (evt && (evt.eventType === 'right'

[2020-09-15 06:05] pavjacko commented on #569
@ix42 macos platform utilise electron-builder config structure so this should do the trick:
[code]

Full `renative.json` example snippet for `rnv export -p macos -s release`:

[code]

[2020-09-15 06:41] aurimasmi commented on #572
Right, yes TVEventHandler doesn't support that since tvOS and ATV remote controllers doesn't have those buttons. There is one lib around which captures keyboard and remote controller events. I never tried it but it might be helpful for you: https://github.com/kevinejohn/react-native-keyevent

[2020-09-15 07:13] pavjacko commented on #558
there is no need for it as rnv uses dep `react-native` which in turn uses jetifier. `npx jetify` should work out of the box.
this covers both npm and yarn.
on top of that rnv runs jetifier after every node_modules invalidation.
this makes `rnv run -p android` working straight away for new rnv projects without the need for postinstall.
also every project varies and developers can choose how to deal

[2020-09-15 07:13] #558 closed

[2020-09-15 11:48] ix42 commented on #569
Excellent, thank you!

[2020-09-16 09:54] ridhimagupta259 commented on #572
I tried using this lib but i am not able to make the configuration changes in MainActivity.java file as it says

[2020-09-18 11:53] jasmeet447 opened #576 "Any idea How do I implement TVOS focus guide in renative ?"
Hi, I'm trying to build an application in Renative for TVOS platform. The focusable elements in the application are wrapped up in a Touchable Opacity. I'm not sure how to implement focus guides. Any help will be appreciated!

[2020-09-18 12:22] RicardasN commented on #576
I suggest looking into @react-native-community/react-native-tvos implementation of FocusGuide and trying to add it to your project using Renative's plugin override features. It's not an easy task, but our solution is not public (although it is based on react-native-tvos project implementation)

https://github.com/react-native-community/react-native-tvos/blob/af56b2ce13e2a7af2062c6a848298850d550c87

[2020-09-22 10:34] itsmefreitas opened #578 "Tizen platform builds are failing."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Start a new rnv project with rnv new;
2. Cd to the newly created project folder and issue the command: `rnv run -p tizen`;
3. Check the tizen cli logging output attached in the Screenshots or copy&paste section.

**Expected behavior**
Rnv run and/or build scripts should p

[2020-09-26 07:53] damakvarshney commented on #578
Same issue with me Help someone,
I just started working on it,
Encourage me !!

[2020-09-26 07:57] damakvarshney opened #579 "Facing issue at "rnv run -p tizen" DISTRIBUTOR PASSWORD"
�  $ rnv run -p tizen - ERRROR! COMMAND:

C:\Users\ok\tizen-studio\tools\ide\bin\tizen.bat package -- C:\Users\ok\Desktop\Practice\ReNative\cuisine\platformBuilds\helloworld_tizen\build -s RNVanillaCert -t wgt -o C:\Users\ok\Desktop\Practice\ReNative\cuisine\platformBuilds\helloworld_tizen\output

FAILED with ERROR:

Distributor1 password: An error has occurred. See the log file tizen-sdk\tools\id

[2020-09-28 07:08] pavjacko commented on #578
@damakvarshney @itsmefreitas looking into this.
@damakvarshney are you also on same env? (Win vs Mac) SUMMARY box from command line output once error occurred would help to clarify these quickly

[2020-09-28 07:54] damakvarshney commented on #578
@pavjacko Sir, I am working on Windows where i have raised a issue here ..

---------
� $ rnv run -p tizen - ERRROR! COMMAND:

C:\Users\ok\tizen-studio\tools\ide\bin\tizen.bat package -- C:\Users\ok\Desktop\Practice\ReNative\cuisine\platformBuilds\helloworld_tizen\build -s RNVanillaCert -t wgt -o C:\Users\ok\Desktop\Practice\ReNative\cuisine\platformBuilds\helloworld_tizen\output

FAILED with ERRO

[2020-09-28 10:25] damakvarshney commented on #578
I found the solution .... the problem is with distributor password in tizen studio which can be solved just by going to tizen studio and then to certification manager and write distributor password to "tizenpkcs12passfordsigner"

Good luck

[2020-09-28 10:26] damakvarshney commented on #579
Issue is resolved
I found the solution .... the problem is with distributor password in tizen studio which can be solved just by going to tizen studio and then to certification manager and write distributor password to "tizenpkcs12passfordsigner"

Good luck

[2020-09-28 10:26] #579 closed

[2020-09-28 13:45] TheDuc opened #580 "[Typo] depenedecies"
https://github.com/pavjacko/renative/blob/8e78148d0937dc9a17b6a3b3c142992d26440338/packages/rnv/src/config.js#L190

[2020-09-29 07:36] pavjacko commented on #580
Message is clear, don't code while drunk!  thx @TheDuc fixed in 0.31.0-alpha.32

[2020-09-29 07:36] #580 closed

[2020-10-01 10:04] sandarshnaroju opened #581 "Focus not working in Android Tv Boxes"
I'm currently working on a android tv project with renative. Focus is working fine in emulator but not in `android Tv` boxes.

It looks similar to this https://www.flipkart.com/sreetek-android-9-0-tv-box-tx6-4gb-32gb-4k-wifi-bluetooth-media-streaming-device/p/itm5cfcd613f5932.
`onFocus` and `onBlur` are not being called when using with android Tv box. However, it is working fine in emulator.

How

[2020-10-02 06:40] RicardasN commented on #581
Are you using those methods on a TouchableOpacity? Because a view or other non-focusable component does not support these functions. I had been using Xiaomi MiBox 4, Nvidia Shield and these functions work as expected. The only thing I can come up with, that could be wrong is the component you're calling these functions on.

[2020-10-02 10:37] sandarshnaroju commented on #581
Yes, I am using `TouchableOpacity`. But `onFocus` and `onBlur` are not getting called in `Android Tv` Box.

[2020-10-05 07:59] jasmeet447 opened #583 "Can I use react-native-tvos instead of/along with react-native in my renative project?"
Hi, I've been developing a project in renative for tvos and I want to use some features that are present in react-native-tvos but not in react-native. Any suggestion might be helpful if I want to use react-native-tvos. Currently, I tried to import react-native-tvos instead of react-native, but it didn't work.

[2020-10-05 09:11] aurimasmi commented on #583
What specifically you want to use from react-native-tvos? You can use rnv overrides system in order to bring features like: focus guide, back handler...

[2020-10-05 09:21] jasmeet447 commented on #583
Yes, I wanted to use the focus guide. But I don't know about rnv overrides system, or how to use them in a renative project. Neither I've heard them before,as I've started working on renative recently. Can you suggest some docs, links, or anything that might help?

[2020-10-05 11:59] jasmeet447 commented on #583
@aurimasmi, just a quick question:
How can I override react-native with react-native-tvos using rnv override in my current project such that it doesn't affect the code for the other platforms?
The same code is working fine on LG WebOS, Tizen ad Android TV.

[2020-10-05 12:00] jasmeet447 commented on #576
@RicardasN, just a quick question:
How can I override react-native with react-native-tvos using rnv override in my current project such that it doesn't affect the code for the other platforms?
The same code is working fine on LG WebOS, Tizen ad Android TV.

[2020-10-05 19:24] aurimasmi commented on #583
That's basically how your structure should look like(ignore firebase):
<img width="320" alt="Screenshot 2020-10-05 at 22 16 21" src="https://user-images.githubusercontent.com/16107073/95121985-82ecb700-0758-11eb-8696-930658c73bbd.png">

So you should add FocusGuide files which you can [find here](https://github.com/react-native-community/react-native-tvos/tree/tvos-v0.63.1/React/Views) to your `ap

[2020-10-06 10:26] jasmeet447 commented on #583
Hello @aurimasmi, I tried to add the following files under the hierarchy appConfigs/base/plugins/react-native/overrides/React/Views :
1. RCTTVFocusGuideView.h
2. RCTTVFocusGuideView.m
3. RCTTVFocusGuideViewManager.h
4. RCTTVFocusGuideViewManager.m
5. RCTTVView.h
6. RCTTVView.

After doing so, I added the file TVFocusGuideView.js under the hierarchy:
appConfigs/base/plugins/react-native/overrides/L

[2020-10-06 11:02] aurimasmi commented on #583
I'd suggest you to put `TVFocusGuideView.js` into your actual src instead of react-native overrides in that case you have full control, because I'm pretty sure this error occurrs because it can't find your `TVFocusGuideView.js` which sits in node_modules currently.

[2020-10-07 11:52] jasmeet447 commented on #583
@aurimasmi, I followed your suggestion and was able to build a focus guide view in a demo renative project with a single screen. When I tried to implement the same thing on my ongoing project, it shows me an error while using focus guide.(I implemented it the same as I did on my demo project).
Here is the reference, Can you tell me what's wrong in it?

<img width="1725" alt="Screenshot 2020-10-07

[2020-10-07 12:15] aurimasmi commented on #583
Well the error is pretty explanatory as you have two different view files under the same name. In order to help you here I'd need to see your source code

[2020-10-07 16:26] EyMaddis opened #585 "Webpack customization examples do not work"
**Describe the bug**
I want to change the webpack config to make my existing project compatible with renative (specifically tizen). The [documentation states](https://renative.org/docs/intro-customize#example-1)

[code]

However, the custom webpack.config.js is never used.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv new', setup tizen with blank template
2. create `./app

[2020-10-07 19:40] jasmeet447 commented on #583
I can show you my code over a call(google meet, skype, zoom, etc). Please give me a suitable time for the call and we'll connect with you over there.

[2020-10-08 08:13] pavjacko commented on #585
@EyMaddis I'm about to release 0.31 with additional override features and fixes. latest release candidate is `0.31.0-RC.6`
could you try that?
It introduces much cleaner approach to project generation. ie split between actual project support files and server/bundler. also platformBuilds/_shared folder is gone now. this makes overrides much more predictable
you might check https://renative.org/docs

[2020-10-08 10:09] EyMaddis commented on #585
This seems to break webpack completely because the dev-server binary cannot be found.
`spawn /my/path/other-platforms/node_modules/rnv/node_modules/webpack-dev-server/bin/webpack-dev-server.js ENOENT`
The file does not exist, maybe this relates to me using yarn, but the dev-server is not in node_modules of rnv.

Also `weinre` is missing, I tried to install it globally, but it breaks with the mime

[2020-10-08 11:12] #563 closed

[2020-10-08 12:46] saubhagya23 opened #586 "Web browser assets available only at root."
Hello,
I'm building a web application using **renative** version **0.30.4.**

When navigating to urls such as _http://localhost:8080/user/:userId_ , it searches resources at path _http://localhost:8080/users/assets/<Asset>_ and does not find any asset. The **assets** are available only at the **root path** i.e. _http://localhost:8080/assets/<Asset>_.

For such navigation paths, how can we make the

[2020-10-08 13:16] kasinskas commented on #586
in `appConfigs/.../renative.json` you should see
[code]

Assets should become available if you change `"baseUrl": ""` to `"baseUrl": "/"`

[2020-10-08 13:50] EyMaddis commented on #585
I think 0.31.0 breaks a lot in yarn.
I tried to replace the call to webpack with something like: `require.resolve('webpack-dev-server/package.json').replace(/package\.json$/)` but I think there is more that one yarn issue here...

[2020-10-08 15:17] pavjacko commented on #585
@EyMaddis  yes you correct. fixed missing weinre handling in `0.31.0-RC.6` . weinre does not work as directly project dependency (even if paths are correct) only as globally installed one.

│ [ error ] [run] Can't connect to webpack. Try restarting it.
was the result of that issue

could you try that version?

btw are you running standard npm version of rnv or local project cloned and linked from

[2020-10-08 16:20] Vidlec opened #587 "Linker command failed for Xcode 12.0.1"
`rnv run -p ios`
Fails with error.

Steps to reproduce the behavior:

1. Run command `rnv run -p ios`
2. See error

**Expected behavior**
iOS simulator starts and app appears

Error:

[code]

-   OS: osx v.10.15.4
-   Node Version 14.0.0
-   RNV Version 0.30.4
-   Xcode version 12.0.1

**Additional context**
This error pops up for every iPhone simulator

[2020-10-08 16:52] pavjacko commented on #587
@Vidlec you need to upgrade to 0.31 which comes with Xcode 12 support. latest rnv RC is `0.31.0-RC.7`

[2020-10-08 16:55] kasinskas commented on #587
@Vidlec By the way this is not a bug of rnv, but most of react-native packages are simply not compatible with xcode 12 yet, because of wrong pod dependency used. Latest rnv versions will autofix that for you.

[2020-10-09 05:18] saubhagya23 commented on #586
@kasinskas Changing the _**appConfigs/.renative.json**_ didn't work for me. However changing **baseUrl** in **generateConfig()** method in _**/appConfigs/base/builds/_shared/configs.js**_ worked for me.

Thank you.

[2020-10-09 06:54] jasmeet447 commented on #583
@aurimasmi, We're stuck because of this issue for a long time and cannot submit our app on the AppStore.So please let me know a suitable timing for a call where we can discuss the issue.

[2020-10-09 07:16] aurimasmi commented on #583
@jasmeet447 unfortunately I can't make a call any time soon. If your project is not very sensitive in a terms who can see the code just invite me there and I'll take a look in one of my night coding sessions. Other option that we will inject Focus Guide to renative so it will come out of the box, hopefully I can take a lot into this next week

[2020-10-09 09:51] EyMaddis commented on #585
I assume you meant a newer one because I used RC.6 above. I tried RC.7 now, but no change (see below, the webpack-dev-server still cannot be found).
[code]

Btw, this is my node version, I will also try another version later.
[code]

I also tried removing node_modules completely and using `npm` instead of `yarn`, but no change.
I removed my globally installed weinre, otherwise, it will lead to the

[2020-10-09 10:15] pavjacko commented on #585
@EyMaddis this is weird, rnv definitely has this as dependency, could you check where in node_modules is `webpack-dev-server` located?

is it

- node_modules/rnv/node_modules/webpack-dev-server
- node_modules/webpack-dev-server
- not installed at all

?

[2020-10-09 13:06] EyMaddis commented on #585
The module is in: `./node_modules/webpack-dev-server`
I think the safest way is to use `require.resolve`

0.31.0-RC.8 starts the server 👍

[2020-10-10 06:12] pavjacko commented on #585
@EyMaddis you have to override `webpack.config.dev.js` or `webpack.config.prod.js`
webpack.config.js won't have any effect

[2020-10-10 09:42] Vidlec commented on #587
Can confirm it works on RC7 od v 0.31 - thank you!

[2020-10-12 06:31] jasmeet447 commented on #583
Hi @aurimasmi, I was able to debug the root cause of the issue that the focus guide couldn't be implemented in my project. It seems that there is some error with the constraints relative to other elements in the render method. I came to know that if I remove some components, I could see the focus guide working well. If I included that component again, I see an error( refer to the screen-shot.) I s

[2020-10-12 07:14] RicardasN commented on #583
What helped me when I encountered this issue is just resetting the cache.
`npx rnv start -p tvos -r`
After that I never saw this issue pop up again, hope it helps you as well :)

[2020-10-12 10:03] EyMaddis commented on #585
Thanks for the help!
As a minor gesture of gratitude, I opened a PR to fix the documentation [here](https://github.com/pavjacko/renative/pull/588).

[2020-10-12 10:03] #585 closed

[2020-10-12 14:05] SandeepKharbanda opened #589 "How can we run tvOS build on real Apple TV device?"
I am trying to run my app on a physical Apple TV 4k device but every time I run the command, it fails.

`rnv run -t "APPLE_TV_Name" -p tvos`

I even tried the same thing with XCode as well but after then I got the Metro bundler error.

And how can we also add a certificate & provisioning profile in our tvOS project?

[2020-10-12 14:28] SandeepKharbanda commented on #573
@CharlesNjau : You have to add on onKeyDown prop on your View where you'll get the keycodes.

[code]
For registerKey, please use the below link for your reference
https://developer.samsung.com/smarttv/develop/guides/user-interaction/remote-control.html

[2020-10-13 07:18] pavjacko commented on #589
@SandeepKharbanda you need to use `-d` or `--device` option to mark your target as physical device.
rnv will try to find existing devices available.

NOTE: you need to make sure
- your apple tv is connected to same wifi as your computer
- you have connected it to your dev machine via usb c cable.

you can check whether your apple tv is visible in xcode or via:

[code]

so your command should be:

[2020-10-13 09:17] #548 closed

[2020-10-13 09:17] #550 closed

[2020-10-13 09:17] #554 closed

[2020-10-13 09:37] whdgmawkd opened #592 "[web] load custom font in css file is not woking"
font file is loacted in 'src/fonts/fontname.woff'
css
[code]

but browser cannot load woff because './asset/asset/randomhex.woff' is not found

where should i put woff file?

[2020-10-13 11:20] TheDuc commented on #583
if you want to use react-native-tvos instead of react-native, you can specify that in renative.json.

for example:
_renative.json_
[code]

[2020-10-13 16:16] EyMaddis opened #593 "Cannot build when using yarn - webpack.js not found"
**Describe the bug**
The same problem described in  https://github.com/pavjacko/renative/issues/585 is still a problem when building via `rnv build`

This time it is `webpack` itself.

[code]

**Expected behavior**
App should build.

**Screenshots or copy&paste**

[code]
**Desktop (please complete the following information):**

-   OS: MacOS
-   Node Version 0.10.21.0
-   RNV Version 0.31.0
-   ya

[2020-10-13 16:52] EyMaddis commented on #593
@pavjacko
So I hackily replace the webpack path with `doResolve('webpack')`, now it builds, but the for `-p tizen` it builds the appShell, not the real app.
The `platformBuilds/blank_tizen/project/build` directory does not contain any .js files, just the appShell.
However, `platformBuilds/blank_tizen/server/` contains everything html/js related, but not the config.xml and other tizen specific file

[2020-10-13 18:29] mihaiblaga89 commented on #593
@EyMaddis that's correct behavior. In order to provide hot reloads for tizen the appShell is being installed on the device/emu. It's nothing more than a small little website which redirects to the webpack's url upon launch. Webpack should build your app and serve it with webpack-dev-server, rnv will inject the url into appShell and install it on the TV. After 5s of launching the appShell you shoul

[2020-10-13 19:47] EyMaddis commented on #593
@mihaiblaga89 For development yes but I meant release builds. Tizen does not support `export` or `deploy`, so I assume that `rnv build -p tizen` should build a production release bundle.
I also tried setting the env `NODE_ENV=production`.

Am I missing something? I cannot find anything else in the documentation to create a release .wgt file.

[2020-10-14 16:31] EyMaddis opened #596 "Replace weinre with chii"
**Is your feature request related to a problem? Please describe.**
Weinre is a very old project that is no longer maintained. I found https://github.com/liriliri/chii which uses the new UI from the chrome developer tools.

It seems to work pretty nicely.

**Describe the solution you'd like**
Use `chii` instead or in addition to `weinre`.

I began implementing a PR supporting both. Would you be int

[2020-10-14 16:33] EyMaddis commented on #596
Related but a bit off topic: For tizen the weinre window opens *every time*, even without `--debug`. Is that by design or a bug?

[2020-10-15 05:44] pavjacko commented on #592
@whdgmawkd
just released the patch to support woff extensions. could you try to run this in `rnv@0.31.1`

what you need is to place your fontname.woff in `./appConfigs/base/fonts` folder.

rnv takes care of the rest for you.

in your code you simply use it as standard font family:

[code]

behind the scenes explanation:

rnv loads all font files in the folder:

`packages/app/appConfigs/base/fonts`

[2020-10-15 05:56] pavjacko commented on #596
@EyMaddis that looks definitely interesting!

wrt to --debug it's a bit of 50/50 here. by default, when you run you app in non production mode you usually get console support out of the box (react-native console itself,  web inspector console etc) with tizen you get nothing. so idea was to have natural console output friendly env setup out of the box as that's what you do in non production env.. d

[2020-10-15 09:14] EyMaddis commented on #596
I opened https://github.com/pavjacko/renative/pull/598. :)

`--debug`: I get where this is coming from. I was very confused that the behavior was different on that platform. I also find it annoying that my browser was opening every time (especially while working on webpack configs).

[2020-10-17 13:26] rroslaniec opened #599 "[rnv 0.31] Broken TypeScript support"
**Describe the bug**
After update from 0.30 to 0.31 typescript files are not transpiled and it causes error on compiling time.

**To Reproduce**
1. Create new project (e.g. blank template)
2. Rename ./src/app/index.js to ./src/app/index.tsx

**Expected behavior**
Project should compile correctly and it should work

**Screenshots or copy&paste**

![image](https://user-images.githubusercontent.com/3

[2020-10-19 12:37] pavjacko commented on #599
@rroslaniec could you try `0.31.2` . should be fixed

[2020-10-19 19:55] rroslaniec commented on #599
@pavjacko works, thanks for fast fix 🚀

[2020-10-19 19:55] #599 closed

[2020-10-20 05:10] pavjacko commented on #565
@sanderlooijenga rnv `0.31.0` onwards comes with support for next `9.5.3` (via `engine-rn-next`)

[2020-10-20 05:10] #565 closed

[2020-10-20 05:10] #587 closed

[2020-10-20 05:31] pavjacko commented on #559
@AndrejJurkin this usually happens if you have 2 conflicting pods. each of them referencing different version of specific dependency (in your case (Sentry) in their respective podspecs.

You need to fix one of these dependencies so you use same version.

There is one alternative way how to quickly test switching to same version of dependency via RNV overrides.

NOTE: this alternative is possible o

[2020-10-20 05:31] #559 closed

[2020-10-20 05:33] pavjacko commented on #535
this is now supported in `0.31.0` onwards. so closing this issue

[2020-10-20 05:33] #535 closed

[2020-10-20 07:17] ix42 opened #600 "Generating source maps"
Is there an easy way to generate source maps automatically during the web docker export process?

Thank  you

[2020-10-20 07:34] sanderlooijenga commented on #565
Great stuff! 🚀

[2020-10-20 08:31] marjen0 opened #601 "Webpack typescript config for web application"
Hi,

When running web project which is written in typescript with npx rnv run -p web I get the following error.
**_You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders_**
Android and AndroidTV projects work just fine.

I would like to ask where and how do I config my project to use typescr

[2020-10-20 09:32] pavjacko commented on #601
@marjen0 which rnv version are you running? you need to run rnv `0.31.2` or higher

NOTE: ideally always provide SUMMARY box from your console output. helps speed up issue resolutions

[2020-10-20 11:41] marjen0 commented on #601
Updating rnv to 0.31.2 version fixed the issue, thanks again.

[2020-10-20 15:36] #601 closed

[2020-10-21 18:01] pavjacko commented on #600
@ix42 from rnv `0.31.3` you can extend webpack directly in renative.json. if you add this to your web platform config:

[code]

it will produce source maps in your web build.

[2020-10-21 18:31] ix42 commented on #600
Thank you for the feature (and the help)

[2020-10-22 08:15] pavjacko commented on #555
should be fixed in `0.31.3`

[2020-10-22 08:15] #555 closed

[2020-10-22 19:01] rroslaniec opened #603 "How to use dynamic injectors?"
I've tried to manage inject some env variables (for example API domain). By docs (https://renative.org/docs/config-overview#dynamic-injectors) it is easy:

1. add variable in common object in renative.*.json (let's assume that is renative.local.json in root folder)
2. in ANY file use {{{{configProps.API}}}}

But it doesn't work with ***.ts** files, what else I can do?

[2020-10-23 06:30] pavjacko commented on #603
@rroslaniec could you be more specific?

- what exactly do you add to renative.json?
- how exactly does your ts file look like?
- where is your ts file located?

[2020-10-24 12:43] rroslaniec commented on #603
sure, so:

- added API key in renative.json common property.
- ts file (./src/api/base.ts):
[code]

[2020-10-26 10:32] YeonV opened #607 "ADB via Wifi without USB"
Hey guys,

first of all: AMAZING project!!

Im trying to build for wearos. I've got my watch in ADB wifi debug and i can conntect with
```adb connect<ip>:<port>```
I can also connect inside Android Studio.
But if I try to rnv like said [here](https://github.com/pavjacko/renative/issues/296#issuecomment-573109542):
```rnv run -p androidwear -d -t <ip>:<port>```
The Step with ```adb kill-server``` a

[2020-10-26 19:20] arcalumis opened #608 "Modify Gradle Wrapper Version from 5.5 to 6.3 AndroidTV"
I can't find where to set or modify the gradle wrapper properties to choose a different version.

The error I'm seeing is

FAILURE: Build failed with an exception.

* What went wrong:
Could not initialize class org.codehaus.groovy.runtime.InvokerHelper

Which I can modify by ejecting the app and changing the config in androidtv/gradle/wrapper/gradle-wrapper.properties

When I try to reconnect the

[2020-10-26 19:34] hosek commented on #608
Hi, gradle version cannot be changed via config for now, but you can use build injection.
Edit the `gradle-wrapper.properties` file and put it in your appConfig:
![Screenshot 2020-10-26 at 20 29 08](https://user-images.githubusercontent.com/9611327/97219341-28300380-17ca-11eb-8d35-ff8bb9a1cd9d.png)
Then this file will be automatically injected into your project androidtv folder

[2020-10-27 07:46] pavjacko commented on #607
@YeonV thx!. wrt your issue, could you skip port (rnv adds it for you). You also don't need `-d` as you specifying exact target

So could you try command in this format:

`rnv run -p androidwear -t 192.168.1.50`

[2020-10-27 09:07] ethanwc opened #609 "[Question] Can I launch a renative tizenwatch app directly to my galaxy watch?"
HI,

Basically I can make apps in tizen studio that launch and deploy to my watch. I want to use react for a million reasons so I am wondering if I can deploy my app directly to the watch. I was looking at this [page](https://renative.org/docs/platform-tizenmobile).

Thanks.

[2020-11-11 19:51] delalama commented on #451
npm i react-native-reanimated

[2020-11-19 10:22] JoaoCEAlmeida opened #613 "LGTV -WebOS - Is there a way to open an URL on the TV broswer?"
I'm developing an app for LGtv - WebOS, and I need to open an url in tv browser when some user click a button.

Currently, I'm using the following:
![image](https://user-images.githubusercontent.com/9196047/99653394-dab55800-2a50-11eb-84dc-ed72af74581f.png)

But this opens something that is not the tv browser.

Can anyone help?

Thanks in advance.

[2020-11-20 14:41] JoaoCEAlmeida commented on #613
Hi, I tried to use this hook but this hook does not support lg web or tizen.
![image](https://user-images.githubusercontent.com/9196047/99812428-5e993e00-2b3e-11eb-993d-b472052352ce.png)

I manage to make it work on lgwebos using the following:
![image](https://user-images.githubusercontent.com/9196047/99812514-78d31c00-2b3e-11eb-83cd-a0c846a1dab9.png)

I manage to make it work on tizen using the

[2020-11-20 14:42] #613 closed

[2020-11-22 15:57] fegodev opened #615 "Wear OS App crashes on calling Fetch API (or XMLHttpRequest)"
Hi! Nice work!

I am planning on developing a standalone Wear OS app with renative. I can run the debug version on the emulator and my test device.

However, the moment I initiate a `fetch` call the app crashes immediately.
[code]
Same problem occurs when using `XMLHttpRequest`.

See logs below. It appears that it's accessing `android.webkit` API which I think is not available on Wear OS.
[code]

[2020-11-23 11:40] pavjacko commented on #615
@fegodev unfortunately android wear OS does not support webview API. more info here:
https://developer.android.com/guide/webapps/managing-webview.

So non webkit workaround would be needed for this. will need to check if there are libs out there which do not use android.webkit

[2020-11-23 11:46] pavjacko commented on #568
@tanujttn question of supporting specific video formats is usually outside of the scope of ReNative itself. video playback can be achieved by installing once of available community plugins ie https://github.com/react-native-video

Wrt your issue there is similar issue opened here:

https://github.com/react-native-video/react-native-video/issues/1718

[2020-11-23 13:53] fegodev commented on #615
Yeah I figured. I couldn't find a React Native module for webkit independent requests so I started building my own. It implements the Google Volley library: https://github.com/google/volley

First test was successful on Wear OS with renative. Will keep you posted.

[2020-11-23 14:34] pavjacko commented on #615
awesome. 👍 . If it works, it could potentially be used to patch RN metro which also relies on webkit thus direct debugging is not possible on androidwear atm.

[2020-11-23 15:29] RobertArissen opened #616 "npx rnv run -p tvos -t "Apple TV 4K" start iPhone 8 emulator"
Hello,

I run the command `npx rnv run -p tvos -t "Apple TV 4K"` the result is that the terminal open a iPhone 8 simulator instead of an Apple tv emulator

Does anyone know what could be causing this?

[2020-11-25 13:45] zatlodan opened #619 "Android and AndroidTV builds failing while using JDK 14/15"
**Describe the bug**

While trying to run a renative project on Android or AndroidTV platform with the Java JDK 14 or 15 the following error appears:
![image](https://user-images.githubusercontent.com/43817853/100229311-55381900-2f24-11eb-80d2-b799219a43e0.png)

**Possible solution**

I have updated the gradle distribution and gradle build tools in the `templates/platforms` and created a showcase

[2020-11-26 07:07] ix42 opened #620 "Dependencies with different versions"
Is it possible to include different versions of a dependency for web and ios for example?
Thank you

[2020-11-26 09:30] grkemtneri opened #621 "Could not find method testImplementation()"
**Describe the bug**
when ı start my project, ı am getting Could not find method testImplementation(). I did look solution from stackoverflow . I changed 'I' To 'İ' but reverted back after building.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command '`rnv run -p androidwear`'
2. See error

[code]

**app\build.gradle**

[code]

**Desktop (please complete the following information):*

[2020-11-29 13:28] timokorkalainen opened #622 "Can't automatically create an android(wear) emulator on OSX"
**Describe the bug**
During the emulator setup Android avdmanager is asking if custom hardware profile should be created, but rnv does not allow answering the question and thus hanging the whole process. A workaround is to create the emulator manually using the Android SDK tools.

**To Reproduce**
1) Clean install of Renative (0.31.3) on OSX (10.15.7)
2) Run rnv new
3) Run rnv run
4) I chose to ru

[2020-11-29 19:17] timokorkalainen opened #623 "Androidwear release builds fail to missing resource strings"
**Describe the bug**
After following the getting started guides, the values/strings.xml file does not contain the value for hello_world whereas the values-round/strings.xml does. This reports as an "ExtraTranslation" linting error during a release build and fails the build with default settings.

Additionally, I wasn't able to figure out how to pass the "abortOnError false" setting correctly to bu

[2020-11-29 19:27] pavjacko commented on #619
@zatlodan added support for customising this directly via `renative.json`  included in `0.32.0-alpha.21`

Example of your use case:

[code]

[2020-11-29 19:30] pavjacko commented on #620
@ix42  do you mean different npm versions in single project?
more specific example would help here

[2020-11-29 19:34] pavjacko commented on #616
@RobertArissen never seen this before 🤔  .
few thing to try:
what do you get if you run:

A)

`npx rnv run -p tvos` (no target param)

B)

`npx rnv run -p tvos -t` (empty target should give you list of options)

C)

What is defined in your `~/.rnv/renative.json` file under `tvos`. ?

additionally it always helps to post SUMMARY box from the console

[2020-11-30 09:04] feia-github commented on #429
Hello @pavjacko,
I would like to ask if the migration to react-native 0.62.X is still on the roadmap for 0.32?

[2020-11-30 10:12] ix42 commented on #620
Yes, different dependency versions in a single project, say some library 1.0.0 on web and 1.0.1 on mobile.
I tried via appConfig renative.json plugins, but i think i'm doing something wrong and did not figure out how it should work

[2020-11-30 13:15] pavjacko commented on #620
I see. yes you can only define single npm dep atm. but it should be possible to add this feature. but afaik you can do this in npm (under one project) only if you use aliases ie:

[code]

and then require them in the code accordingly.

If that's what you after it should be straightforward to add this so you could define your plugin in format like this:

[code]

additionally it could be possible to

[2020-11-30 17:19] ix42 commented on #620
Thank you, i think including via npmAlias will solve my problem

[2020-12-05 17:25] thomasMinshull commented on #587
This looks to be exactly what I need. However I do not understand the solution posed there. What does "rnv" stand for, what is it, and how to I upgrade it.

Thanks in advance for the additional details.

[2020-12-05 17:26] thomasMinshull commented on #587
Oh React Native Version

[2020-12-06 14:36] tvotan opened #624 "ERROR when running the renative-template-hello-world"
**Describe the bug**
I tried to run the hello-world-Template of ReNative but I get an error message which tells me that `npm i renative-template-hello-world@0.31.3 --no-save` doesn't work properly. I also tried to run `npm install renative-template-hello-world@0.31.3 --no-save`

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv new'

[code]
2. See error

[code]

**Expected beh

[2020-12-07 13:01] fegodev commented on #615
@pavjacko I have published a first version:
https://github.com/fegodev/react-native-volley

Not sure if it helps with the metro debugging problem but it can handle HTTP requests independent of webkit. Worked for me with renative on Wear OS device.

[2020-12-08 06:07] an8h opened #625 "renative-template-hello-world: TypeError when build the renative on both iOS and Android"
**Describe the bug**
I tried to follow the installation guide (https://renative.org/docs/intro-installation) to run renative on both iOS simulator and Android emulator using renative-template-hello-world. Once the bundle is ready and it tries to open the app I get a TypeError.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv new'
2. Run command 'rnv run -p android'
3. See er

[2020-12-08 11:33] MalgoBlock commented on #483
In case this may be of interest to anyone in the future - the behaviour above is caused by the fact that 'tizen' is set with a 5s Timeout (by the way - can anyone explain why?) - it means that it is not available directly at launch, only slightly later...

[2020-12-08 15:42] EyMaddis commented on #483
The best solution would probably be to ditch the iframe and instead let the appShell be the result from webpack-dev-server (but scripts/assets loaded via external URL prefix).
I think this could solve all issues and make renative more future proof.

[2020-12-08 15:55] EyMaddis commented on #295
I think I had the same problem... if I remember correctly my workaround was to edit the ~/.rnv/renative.json directly and avoid the `-t` argument

[2020-12-08 15:59] EyMaddis commented on #504
Short answer: you can't. Android handles the focus mangement in native code, you cannot really control focus in JS, except for manually setting the focus to something (or with hacks such as above).
You cannot block key presses without completely disabling all key events in Java and manually writing a focus engine in JS.
In the time the message from the keypress reaches JavaScript, Android is alrea

[2020-12-09 17:10] tvotan commented on #624
I tried it again when I reinstalled Tizen on my Mac and I get this error message:

<img width="1582" alt="Screenshot 2020-12-09 at 17 57 32" src="https://user-images.githubusercontent.com/39995527/101662428-cb22a100-3a49-11eb-803e-e8f11130e316.png">

[2020-12-10 10:30] YogeshRewan1 opened #626 "Renative Tizen View focus with Remote clicks"
In My Tizen  App, There are dynamic view Generated  and I have used view, touchablity use for design Purpose
MY issue is I have to Navigate/Focus in layout with remote control i.e Left, Right, Up and Down as shown in Template (Used Button in Template)

[2020-12-10 16:08] tvotan opened #627 "How to setup Tizen SDK and webOS SDK for macOS 11.0.1 (Big Sur)"
Hi,

I need some assistance to install Tizen SDK and LG webOS SDK. I followed these instructions:
- https://developer.tizen.org/ko/development/tizen-studio/configurable-sdk
- http://webostv.developer.lge.com/sdk/installation/

But anyway I get error messages like these:

**webOS**

<img width="260" alt="Screenshot 2020-12-10 at 17 00 06" src="https://user-images.githubusercontent.com/39995527/1017

[2020-12-13 09:25] pavjacko commented on #627
@tvotan yes this is known issue with big sur and tizen SDK/IDE.

I managed to get around above popups by manually enabling each module in settings security tab (around 10-15 popups!)
However tized IDE would still not launch properly
Ironically SDK manager does work

In the nutshell, Tizen + big sur is a mess ATM.

one of the issues tracking this:
https://forum.developer.samsung.com/t/tizen-studio-

[2020-12-14 09:37] TheDuc opened #628 "Unknown cli command hangs in endless loop [0.32.0-alpha.23]"
**Describe the bug**
When running rnv via cli and using a not existing command results in an endless loop.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command `npx rnv notexisting` (or other not existing command)
2. Observe logs

**Expected behavior**
To just log `unknown command` or offer help and show existing commands

**Logs**
[code]

**Desktop (please complete the following inf

[2020-12-14 10:40] TheDuc opened #629 "[webos] cli fails when running webos ERROR in Template execution failed: RangeError: Maximum call stack size exceeded"
**Describe the bug**
When running `npx rnv run -p webos -t Target`, I get `ERROR in Template execution failed: RangeError: Maximum call stack size exceeded`

**To Reproduce**
Steps to reproduce the behavior:

1. Run command `npx rnv run -p webos -t Target`
2. See error `ERROR in Template execution failed: RangeError: Maximum call stack size exceeded`

**Expected behavior**
To run the app without e

[2020-12-15 13:21] iMokhles commented on #581
@sandarshnaroju do you use react-native-keyevent package ?

[2020-12-15 16:07] hosek commented on #587
@thomasMinshull `rnv` is renative cli tool, it does all the hard work under the hood, you can update it with whole `renative`  package in package.json
[code]
In case you are not using renative and came here eg from google, looking for error message, you can simply add this to your Podfile to get rid of the warnings:
[code]

[2020-12-17 12:12] #485 closed

[2020-12-17 12:12] #470 closed

[2020-12-18 10:20] TheDuc opened #630 "[0.32.0-alpha.24][androidTV] Your undefined does not exist. You won't be able to make production releases without it!"
**Describe the bug**
This is a regression:
When you specify a full keystore path, it cannot find the keystore.
For example: `/Users/yourusername/.rnv/key.jks`

**Additional context**
This is an error in https://github.com/pavjacko/renative/blob/8a527a997df115c862d57ae192f80adb25522acb/packages/rnv-engine-rn/src/sdks/sdk-android/gradleParser.js

Consider lines 160 to 174:
[code]

What happens if th

[2020-12-20 12:32] pavjacko commented on #620
@ix42 you can try following example. this should allow support for different plugin versions under same project:

[code]

[2020-12-20 16:28] ix42 commented on #620
Thank you, this solution looks good

[2020-12-20 18:15] #476 closed

[2020-12-21 08:32] pchalupa commented on #624
I've got the same error and I've resolved it by downgrading Node and NPM.
Steps:
1. `brew uninstall node`
2. `brew install node@14`
3. `brew link --overwrite node@14`
4. Verfy node and npm version `node -v`, `npm -v`
5. `npm install rnv -g`
6. `rnw new` ... follow instructions
After that I was able to start the project. So I think the problem was related with Node or NPM version. Hope that helps.

[2020-12-22 18:12] SatadruBhattacharjee commented on #511
can we start using the `rnv new --engine <engine-name>` command to select the particular engine (i.e. engine-lightning) ?

[2020-12-23 03:28] #494 closed

[2020-12-24 22:15] abouzia commented on #624
Works for me.

[2020-12-26 06:49] #466 closed

[2020-12-27 16:04] ix42 opened #632 "Upgrading to react native 0.63"
Are there any plans to upgrade react native to 0.63.4?

[2020-12-28 10:22] #491 closed

[2020-12-28 17:28] #500 closed

[2021-01-03 10:41] #499 closed

[2021-01-03 10:42] #448 closed

[2021-01-03 10:43] #272 closed

[2021-01-03 10:45] #428 closed

[2021-01-03 10:46] #437 closed

[2021-01-03 10:47] #445 closed

[2021-01-03 10:50] pavjacko commented on #472
tested 0.31 and 0.32 alphas.

[2021-01-03 10:50] #472 closed

[2021-01-03 10:52] pavjacko commented on #632
@ix42 yes. rnv 0.33 will aim to support latest RN

[2021-01-03 17:48] #630 closed

[2021-01-03 17:50] pavjacko commented on #630
@TheDuc thx for reporting 👍  Added to upcoming 0.32

[2021-01-03 20:35] erguncaner commented on #621
Hi Görkem, have you found a solution?

[2021-01-03 21:51] #629 closed

[2021-01-03 21:52] pavjacko commented on #629
@TheDuc ok finally managed to replicate it but only after upgrading to webpack 4.44.2 :)
but fixed by using good old fashioned Object.assign

Let me know if that worked for you!  `0.32.0-alpha.25`

[2021-01-04 05:37] pavjacko commented on #628
@TheDuc thx. another good catch! 🥇

[2021-01-04 05:37] #628 closed

[2021-01-04 05:42] pavjacko commented on #627
@tvotan I can confirm that latest release of Tizen IDE/SDK (Dec 21, 2020) is finally working with big sur 🎉

https://developer.tizen.org/ko/development/tizen-studio/download

[2021-01-04 05:42] #627 closed

[2021-01-04 06:11] pavjacko commented on #626
@YogeshRewan1 hello world example uses `react-spatial-navigation` (you can of course use different library if desired)
to customize the focus logic and key mapping check https://github.com/NoriginMedia/react-spatial-navigation#setting-initial-focus-on-child-component-tracking-children

[2021-01-04 06:23] pavjacko commented on #625
@an8h I've been trying to replicate above error but with no luck.

one quick check (on android) could be to change `"enableHermes": false` in your renative.json and run app again with `rnv run -p android -r` .
NOTE `-r` is important enabling/disabling hermes requires hard reset to take effect

Another option is to upgrade to upcoming release `npm i rnv@alpha -g` and try to create new app again.

I

[2021-01-04 06:29] pavjacko commented on #624
@tvotan another way how to fix tizen cert issue (ie after Tizen SDK upgrade) is to delete your `~/.rnv/tizen_author.p12` . that will force rnv to regenerate your cert with new SDK on the next run

[2021-01-04 06:29] #624 closed

[2021-01-04 06:39] #568 closed

[2021-01-04 06:40] #569 closed

[2021-01-04 06:41] #570 closed

[2021-01-04 07:09] pavjacko commented on #621
@grkemtneri @erguncaner I'll into it. in the meantime you can always override core rnv files in this instance copy:

`./node_modules/@rnv/engine-rn/templates/platforms/android/app/build.gradle`

to you project:

`./appConfigs/base/builds/android/app/build.gradle`

this will allow you to manually update/customize build.gradle if you need to add a fix or change not available via rnv options

[2021-01-04 08:53] #620 closed

[2021-01-04 08:54] #619 closed

[2021-01-04 08:56] pavjacko commented on #615
@fegodev awesome! will look into ways to integrate it for `0.33`

[2021-01-04 08:57] grkemtneri commented on #621
I cant see `./node_modules/@rnv/engine-rn/templates`

[2021-01-04 08:57] #607 closed

[2021-01-04 09:07] pavjacko commented on #603
@rroslaniec sorry missed this one to answer
dynamic injects only work for injected files ie ones in `./appConfigs/*` and `renative.json` . what you referring is `src` folder which is not injected. it is actual source of your app.

if you want to inject some property from `renative.json` you can still do it by importing `./platformAssets/renative.runtime.json` into your code in src.

you can inject

[2021-01-04 09:07] #600 closed

[2021-01-04 09:08] #596 closed

[2021-01-04 09:10] #592 closed

[2021-01-04 09:11] #589 closed

[2021-01-04 09:59] #586 closed

[2021-01-04 10:18] pavjacko commented on #578
@damakvarshney thank you for reporting the solution back!

[2021-01-04 10:18] #578 closed

[2021-01-04 10:21] #608 closed

[2021-01-05 13:33] chmiiller commented on #573
Maybe this one can be closed

[2021-01-05 21:04] rroslaniec commented on #603
For sure it would be nice to add more detailed info in docs about that https://renative.org/docs/next/advanced/guide-overview#dynamic-injectors. Personally I thought it works in whole project.

[2021-01-05 21:04] #603 closed

[2021-01-06 13:49] AkAyush opened #634 "Google Signin / Login WebOS"
Hi, I was tyring to implement Google Signin in WebOS. I have used 'react-google-login' for it the same library I'm using for Web. But WebOS is not allowing google signin popup window to appear.

Has anyone implemented Google Signin in WebOS? Please let me know

[2021-01-06 14:35] chmiiller opened #635 "Help with ReNative components documentation"
Hi there,
first of all thanks for all that is offered with ReNative!

I'm working on a Tizen personal side project focused on Samsung TVs and having a lot of fun with it but maybe I'm missing out some information about ReNative that I really would like to clarify.

I noticed that when I start a new project with rnv it comes with some plugins like the "NoriginMedia/react-spatial-navigation" and oth

[2021-01-07 13:17] #573 closed

[2021-01-08 10:12] TheDuc opened #636 "[Typo] enbale -> enable"
https://github.com/pavjacko/renative/blob/98f0d69bfec23d539c8c30fe84ff46e87dd67b97/packages/rnv-engine-rn/src/sdks/sdk-android/gradleParser.js#L182

[2021-01-08 13:55] TheDuc commented on #634
Hey AkAyush,

'react-google-login' is a library for React, not React-Native. ReNative uses React-Native and React-Native-web to convert native components to web for for example WebOS. I believe you have to use a React-Native Google Signin library, for example [@react-native-community/google-signin](https://www.npmjs.com/package/@react-native-community/google-signin) instead of a React only library

[2021-01-08 14:00] TheDuc commented on #632
You could always modify `renative.json` to use a different version of react native.
for example:
[code]

then you have to run `rnv platform eject` to eject the platform(s) you are using and make the necessary changes there (for example modify the podfile for iOS).

[2021-01-09 11:08] ix42 commented on #632
Thank you, yes, this is the way i went about it and everything went fine

[2021-01-09 20:13] chmiiller commented on #483
To me the same timeout problem was happening, but 100ms is enough in my case (I'm making a simple "Exit the App?" dialog screen)

[2021-01-09 21:51] #496 closed

[2021-01-09 21:51] #97 closed

[2021-01-09 21:51] #488 closed

[2021-01-09 21:51] #486 closed

[2021-01-10 00:16] YazeedAsaad commented on #48
Any updates on the ps4 support @pavjacko ?

[2021-01-10 21:44] agnoam opened #637 "Typescript example"
Is there any typescript `Renative` example project or `template` ?

[2021-01-11 06:44] pavjacko commented on #635
Hi @chmiiller

--
differences between renative components and react-native components

renative focus is more towards unified infrastructure and multi-platform fundamentals by combining variety of OS libraries under one hood (ie react-native, electron, rn web etc)

General purpose of `renative` runtime library is to provide base abstraction and helper methods  ie `isPlatformTizen` , `isFactorTv`

[2021-01-11 10:15] ali-sao commented on #48
رد علي يزيد يا بافجاكو

[2021-01-11 11:27] chmiiller commented on #635
Thanks for clarifying all of this! It does make sense, can't wait to see these developments and more examples.

[2021-01-11 11:27] #635 closed

[2021-01-12 14:23] TheDuc opened #638 "[tvOS] error The `device` and `udid` options are mutually exclusive."
**Describe the bug**
When running on device `rnv run -p tvos -d -t "DeviceName" --skipTargetCheck` the app is not installed on TV.
The command `node /Path/to/Project/node_modules/react-native/local-cli/cli.js run-ios --project-path platformBuilds/projectname_tvos --scheme RNVAppTVOS --configuration Debug --simulator DeviceName` fails with ```error The `device` and `udid` options are mutually exclu

[2021-01-16 17:01] #461 closed

[2021-01-18 06:57] #513 closed

[2021-01-18 18:17] poi92 opened #643 "Missing FireTV documentation"
Hi,

Just now i've discovered this kind of framework.

I think Is a good work for develop multi-platform application for smart TV, but i see that Is missing the FireTv documentation...

I have to build It as an android TV or not?

[2021-01-20 09:58] #636 closed

[2021-01-22 18:05] alaingoga opened #644 "Multiple projects or apps support"
Great framework!!!
Is there a way to configure common/shared folders for components to be used on multiple apps. Let's say we create multiple projects using `rvn new` and we want to extend the build scope of those project to be import those common components or assets. My initial idea is to use a monorepo to have those base, common components in different packages and import them as external depen

[2021-01-25 16:49] vio-codes opened #645 "Apple Silicon support"
Does renative work on Apple Silicon, did anyone managed to setup a project and run it?

[2021-01-25 18:41] #450 closed

[2021-01-26 17:08] redgoalsuk opened #647 "Tizen build release not working - Promise error"
**Describe the bug**
Error during compiling release for tizen

**To Reproduce**
Steps to reproduce the behaviour:

1. Run command 'rnv build -p tizen -s release'
2. See error

**Expected behavior**
Tizen build

**Screenshots or copy&paste**
[ task ] [platform configure] checkAndConfigureSdks[1]
[ task ] [platform configure] checkAndConfigureTizenSdks:tizen[1]
[ task ] [platform configure] isBuildS

[2021-01-26 19:36] chmiiller commented on #647
Just to add more info here, I've just tested this command on macOS and it's worked just fine:
Desktop (please complete the following information):

OS: macOS Catalina 10.15.7
Node Version 10.20.1
RNV Version 0.31.3

[2021-01-26 20:16] chmiiller opened #648 "[Tizen] How to proper update react-native-vector-icons?"
Hi there,
I've tried changing it from `source:rnv` on renative.json file to 8.0.0 (latest). Did a clean build and it did appeared update on `packages.json` file but still I cannot use some icons from https://oblador.github.io/react-native-vector-icons/.
Example: MaterialCommunityIcons - "home-lightbulb".

I feel that it's missing the updated font files, but I don't know how to update them.
Thanks!

[2021-01-26 22:15] redgoalsuk opened #649 "webOS blank page on TV, emulator runs fine"
**Describe the bug**
When I run my app in the emulator via webOS IDE it works totally fine but when I try running it on a physical TV the screen just turns white with no response to key input (there is an error in the debug console shown below). When I create a blank hello world app in webOS IDE and launch that on the TV it works fine

**To Reproduce**
Steps to reproduce the behavior:

1. Run comm

[2021-01-27 17:01] alaingoga commented on #593
@EyMaddis where did you added `doResolve('webpack')` I'm having the same issue when using the local package `yarn rnv build -p ...` instead of global:

```Error: Cannot find module '......./node_modules/rnv/node_modules/webpack/bin/webpack.js'```

[2021-01-27 17:07] EyMaddis commented on #593
@alaingoga Of the top of my head it was the sdk-webpack.js file and I just changed it manually for the build, if I remember correctly

[2021-01-27 18:23] alaingoga commented on #593
Thanks @EyMaddis I found where webpack is called: https://github.com/pavjacko/renative/blob/release/0.31/packages/rnv/src/sdk-webpack/index.js#L258

Also why it works for `rnv run` and its because there is an alternative here: https://github.com/pavjacko/renative/blob/release/0.31/packages/rnv/src/sdk-webpack/index.js#L485

Root cause of the problem is that in local RNV_NODE_MODULES_DIR is pointin

[2021-01-27 18:36] alaingoga commented on #593
By changing:

```export const RNV_NODE_MODULES_DIR = path.join(RNV_HOME_DIR, 'node_modules');```

 to

```export const RNV_NODE_MODULES_DIR = path.join(RNV_HOME_DIR, '../../node_modules');```

it works.
But i guess this may break global `rnv` use.

[2021-01-27 18:47] alaingoga commented on #644
I found a way around:
For web:
**Option 1**
Add a dummy plugin to include `webpackConfig` in `renative.jon`

[code]

**Option 2**
Override web platform webpack files like: `platfromBuilds/blank_web/webpack.config.dev.js` to extend `config.modulePaths` with your modules paths

For android:
Include watchFolder in `metro.config.js`

[code]

[2021-01-28 10:45] EyMaddis commented on #634
Since WebOS is "web" based, @react-native-community/google-signin will never work. SmartTVs cannot open new windows. You will most likely never be able to implement Google Sign in with the default way.
You will have to implement a code based login (which Google seems to support 🎉 ):
 https://developers.google.com/identity/sign-in/devices

It basically does not use mail + password, but a single gen

[2021-01-28 10:46] EyMaddis commented on #593
The proper way would be to use something like `require.resolve()`, but I think I tried it and it does not result in the same file that rnv uses right now.

[2021-01-28 18:22] alaingoga opened #650 "Renative module not found when using monorepo"
**Describe the bug**
When using generated project as part of monorepo using yarn workspace, `renative` module can't be found.

**To Reproduce**
1. Create a new project:
```rnv new```
2. Build initial assets
```rnv build -p web```
3. Copy new project into existing monorepo
Ex:
[code]

2. See error
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
Renative

[2021-01-28 23:00] alaingoga commented on #650
Adding nohoist for renative and root folder on metro.config.js fixed the issue on my end:

**root package.json**
[code]

**metro.config.js**
[code]

[2021-02-03 13:40] EyMaddis commented on #643
FireTV is just a regular Android TV app, nothing really special about it.

[2021-02-06 10:44] jasmeet447 opened #651 ""Invariant Violation: Native module cannot be null" error on ios"
Hi, I'm working on a project in ReNative that works fine on android but gives me some error as soon as I try to run it on iOS.

On running the project from Xcode, I found some logs but was unable to get any idea about the issue I'm facing. Here is the screenshot of those logs:
<img width="1904" alt="Screenshot 2021-02-06 at 4 12 32 PM" src="https://user-images.githubusercontent.com/44059494/107115

[2021-02-09 18:22] yanv1991 opened #652 "How can I add a custom android plugin or module"
I created a module using https://github.com/brodybits/create-react-native-module, but I'm not sure how to include that in renative, There is not docs to make that or at least I haven't find them, maybe a example in the could help

[2021-02-10 03:26] Neelam1990 commented on #416
I can face the same issue.... does anyone have the solution. ?

[2021-02-11 12:51] vio-codes opened #653 "Hello World template issue on macOs machine"
**Describe the bug**
I want to run the hello-world template on iOS simulator but I keep getting "Accessing non-existing property"

**To Reproduce**
Steps to reproduce the behavior:
1. npm install -g rnv
2. rnv new
3. Use the hello world template
4. rnv run select iOS
5. The simulator is not opened

**Expected behavior**
Simulator should be opened and application loaded.

**rnv status return**
[cod

[2021-02-11 14:29] EyMaddis commented on #593
@pavjacko
I think this works:
`const WEBPACK = require.resolve('webpack-cli/bin/cli.js');`

However, maybe this is only for me...? I wonder why you use `webpack` and not `webpack-cli`...?
I am guessing the same can be done with webpack-dev-server

[2021-02-12 11:53] EyMaddis opened #654 "Is there a way to add more platforms myself?"
Some (web) SmartTV Platforms and use cases do not make sense to include in the config because they are very niche or proprietary. Is there a way to support more platforms without forking renative?
Basically, I would like to have an easy way to make a new web engine platform by supplying, e.g. the file extension but to keep the rest basically as is.

[2021-02-13 12:08] #514 closed

[2021-02-13 12:08] #530 closed

[2021-02-13 12:08] #527 closed

[2021-02-17 08:58] VladLegkowski commented on #566
@Emzawadzki , hello

Can you please tell me the path for `"WEBOS_SDK"` inside `renative.json`. I can't find the path to it anywhere on ubuntu, although its installed, I can see it in the list of installed applications as `webOS CLI for TV`

[2021-02-18 03:57] #534 closed

[2021-02-19 15:03] yanv1991 opened #655 "Platform firetv not supported by any registered engine"
**Describe the bug**
Getting error after running a new project with the hello world template

**To Reproduce**
Steps to reproduce the behavior:
- generate a new brand project with hello world template
- add index.firetv.js file
- run `rnv run -p firetv`

1. Run command 'rnv run -p firetv'
2. See error

**Expected behavior**
The app should run correctly

**Screenshots or copy&paste**
[code]

**Desk

[2021-02-19 20:44] vvsamin commented on #655
FireTV platform support was added in rnv@0.32.0-alpha.25 https://github.com/pavjacko/renative/commit/2b4ac07e5ea1cbd4d3547d8a2c0f3c325dd6477e

[2021-02-19 22:14] yanv1991 commented on #655
@vvsamin I tried with that tag version but getting an error about missing engine

[2021-02-22 01:34] yanv1991 commented on #655
looks like the firetv runs as a normal androidtv app

[2021-02-22 01:34] #655 closed

[2021-02-22 11:42] VladLegkowski commented on #593
@EyMaddis @pavjacko

The same happens with NPM, I ran `rnv build -p tizen` and it throws this:

[code]

This is freshly fetched unchanged project. Running on:

[code]
Node: `10.19.0`
NPM: `6.14.4`

I have tried suggestions from above and nothing works, how does one simply builds a project for Tizen, thanks

[2021-02-22 13:34] EyMaddis commented on #593
@VladLegkowski make sure you edited the correct file, there are 2 spots where the webpack path is defined. Once for dev and once for production builds. Search for `bin/webpack.js` and change it to something that definitely breaks like `/TEST/` to see if it lands in the output, if not: keep searching or you are not in the correct rnv folder.

[2021-02-22 15:09] VladLegkowski commented on #593
@EyMaddis, can you tell me what do you refer to exactly -  I see there are few different propositions to fix the issue in this thread.

[2021-02-22 15:32] VladLegkowski commented on #593
Sorry, again, but is there a working branch or can someone who manages to make it work create a step by step? I know ifs a big ask but this would help I am sure to the project.

[2021-02-22 16:52] EyMaddis commented on #593
@VladLegkowski this works for me:
https://github.com/simpleTechs/renative/tree/simpleTechs
That is the change:
https://github.com/simpleTechs/renative/commit/8a9446d15f8585d4e251fcfc22177ff4fcf089eb#diff-2fe34df7a4d5ff39cd67b3c6b5c06a43c88aa0dafb62c1803f99d1612c68ac7cL56

[2021-02-22 17:56] divyang7777 opened #656 "Getting error while opening <Video /> from react-native-video plugin"
we want to create an tv app to play youtube video....
and Getting this error while opening <Video /> from react-native-video plugin.

code we used :
`<Video source={{ uri: embedURL }}   // Can be a URL or a local file.
                        fullscreen={true}
                    />`

Steps to reproduce the behavior:

1. rnv run -p androidtv
2. TypeError: Cannot read property 'Constants' of null
T

[2021-02-22 18:02] CHaNGeTe commented on #656
How you installed react-native-video?
Can you paste your renative.json file?

Spoiler: react-native-video will not allow you to play Youtube videos AFAIK

[2021-02-22 18:04] CHaNGeTe commented on #656
Maybe you want to check this approach:
https://surajmdurgad.medium.com/embedding-youtube-videos-in-a-react-native-app-8c556a18fd76

[2021-02-22 19:13] divyang7777 commented on #656
....

this is my renative.json ->

{
    "plugins": {
        "react-native-web-image-loader": "source:rnv",
        "react-native-gesture-handler": "source:rnv",
        "react-native-reanimated": "source:rnv",
        "react-native-vector-icons": "source:rnv",
        "@reach/router": "1.3.4",
        "hash-source": "1.0.4",
        "@react-navigation": "source:rnv",
        "@react-navigation/c

[2021-02-22 19:15] divyang7777 commented on #656
i tryed the webview also that is also giving me error ... wait trying the youtube & youtube-iframe method !!!

[2021-02-22 19:21] divyang7777 commented on #656
@CHaNGeTe ... i forgot to mention i don't have the "videoId" instead I am getting the video URL !!!

[2021-02-23 06:53] CHaNGeTe commented on #656
videoId can be easily extracted from url:
https://www.youtube.com/watch?v=fTzSI_MY98o

?v={{THAT's THE ID}}

[2021-02-26 02:05] elStranger opened #657 "Tizen tabBar '../components/menu'"
Hi,
I've just discovered your library. Great Job thanks for that.

Is it possible to hide the menu on the Tizen App. Or auto-hide it? Because when I delete/comment it
[code]

it's still here

[2021-02-26 02:08] elStranger opened #658 "I audit fix the project"
Hi,

I've done an npm audit fix in the root of the project and since that, I can't see the error logs. When I forgot to import or make any typo the screen is black until I find the issue. When i started it was working well.

I got this Entrypoint undefined...maybe it's this

[code]

thanks

[2021-03-02 09:38] nickfujita commented on #49
Wanted to check in from 2021, and see if there were still plans to add Roku support. It was mentioned that there were some ideas on how to solve this, but was wondering if they were ever executed on, and if so, what roadblocks prevented it from working?

[2021-03-05 18:32] VladLegkowski commented on #593
@EyMaddis, sorry for the late reply, this worked.

[2021-03-06 00:33] rafagouveia opened #660 "Cannot read property 'renative' of undefined in RNV PLUGIN UPDATE"
**Describe the bug**
When updating the Renative plugins, an undefined error occurs, I tried to create a project from scratch, but the error is the same, I tried to use linux environment, but the error remains the same, I tried to install plugins manually, but I still get the same error .

**To Reproduce**
`rnv plugin update`

2. See error
[code]

I'm trying to add Socket.io with a third plugin, an

[2021-03-06 17:58] poi92 commented on #643
Ok, thanks

[2021-03-06 17:58] #643 closed

[2021-03-14 04:05] AbelValdez opened #661 "Video Component for WebOs, Windows, Tizen Tv."
Im looking for a Video plugin for all other platforms like  WebOs, Windows, Tizen Tv. because react-native-video its only for
os,tvos,android,androidtv.

I would like to know if already exist a plug in with this features.

[2021-03-14 20:49] egemenuzunali commented on #661
I would also like to know if it is possible to play videos on tizen using renative

[2021-03-14 22:23] ali-sao commented on #661
You can pick any player you wish that suits your needs and create a platform specific file for this purpose, like `player.tv.web.js`

[2021-03-14 22:52] ali-sao commented on #657
The Tab bar is inside `index.tv.native.js` file , which has nothing to do with Tizen. any edits there will only affect Android and tvOS. Edit `index.web.js ` instead

[2021-03-15 20:20] egemenuzunali commented on #661
Hi @ali-sao do you have an example for tizen ?

[2021-03-16 00:09] ali-sao commented on #661
@egemenuzunali , depends on your use case. For Tizen 2.3 and 2.4, your most appropriate player would be AVplay. While for 3.0+ you can choose one of many players online. Beside on which type of media are you consuming.

[2021-03-17 06:46] ZeeshanAhmadKhalil commented on #451
@numericgraphics  I can't find `renative.json` in my react native project

[2021-03-17 07:05] ZeeshanAhmadKhalil commented on #451
I was getting this issue because I first installed react drawer navigator and then react-native-reanimated.

I solved the issue by installing both `@react-navigation/drawer` and `react-native-reanimated` and then following commands:

1) `npm install react-native-reanimated`
2) `npm link react-native-reanimated`
3) `cd ios && pod install`
4) `npm install @react-navigation/drawer`

[2021-03-18 05:21] Jalil-Irfan commented on #587
I am stuck in a similar issue im totally new to react native and Apple products
Please help me out
First , what is RC7
Second please see my screenshot below

![Screenshot 2021-03-18 at 9 29 50 AM](https://user-images.githubusercontent.com/6348697/111577076-a58afd80-87d7-11eb-9762-db6820f456f5.png)

I am unable to run the code for iOS , it works fine with Android

I am using Salesforce's ForceReact

[2021-03-20 00:07] #549 closed

[2021-03-20 00:07] #547 closed

[2021-03-20 00:07] #551 closed

[2021-03-20 00:07] #546 closed

[2021-03-20 00:07] #533 closed

[2021-03-20 00:07] #544 closed

[2021-03-20 00:07] #542 closed

[2021-03-20 00:07] #532 closed

[2021-03-20 00:07] #537 closed

[2021-03-23 20:40] kevindsky opened #662 "Adding a new yarn dependency breaks the android build"
**Describe the bug**
Running `rnv run -p android` throws an error.

**To Reproduce**
1. Create new project
2. `rnv` run then android (the app deploys & runs at this stage)
3. Kill the server
4. `yarn add crypto-js` (or any other js library)
5. Repeat step 2

**Expected behavior**
It should build successfully.

**Screenshots or copy&paste**
[code]

**Desktop (please complete the following informati

[2021-03-26 08:36] joristruyen opened #663 "webOS emulator v5.0.0"
The latest webOS SDK comes with emulator v5.0.0, while reNative still uses v4.0.0.
This version seems to be hardcoded in rnv.
Is there a way to change this?

[2021-03-27 01:27] rfestag opened #664 "WearOS detection appears to be too strict"
**Describe the bug**
I am trying use renative to create an app for a TicWatch Pro 3. It is a WearOS device, but anytime I try to run an app on it via (`rnv run -p androidwear -t 192.168.0.50` or `rnv run -p androidwear -d`), it isn't detected. The device was connected via adb connect ip:port, but after trying to run the app on it, the device is disconnected and I'm prompted to start an emulator.

[2021-03-27 03:56] rfestag opened #665 "How to do renative development"
First, thanks for all the great work on this, I'm really enjoying playing with renative!

I have a few patches in a fork I made that I'd like to test. I manually made the changes to my local 0.31.3 install, but I see that the master is at an alpha of 0.32. The documentation implies that if I run `yarn bootstrap` and `yarn watch`, that it should be used instead of my global install. Unfortunately,

[2021-03-28 18:29] rfestag commented on #615
@fegodev - Until this is integrated into 0.33, do you have an example of using it in WearOS? I tried pulling it in, and I'm seeing some odd behavior:

1. If I `console.error(Object.keys(Volley))`, I get `['fetch']` as would be expected
2. When i try to call `Volley.fetch`, I get **Cannot read property 'fetch' of null**, which is certainly odd considering the log clearly shows a non-null object wit

[2021-03-28 23:46] rfestag commented on #615
Nevermind, I forgot to save the changes to my `renative.json` to register the plugin.

[2021-04-03 21:04] danielz-nenda commented on #624
This happens on npm version 7.x, but works on 6.x. So this should still be considered a bug since npm now pushes users to upgrade to version 7.

[2021-04-06 08:23] SandeepKharbanda commented on #661
You can use React-player https://www.npmjs.com/package/react-player. I have used the same player for Tizen, WebOS, and Windows.

[2021-04-06 08:50] SandeepKharbanda opened #668 "How can I detect windows machine id in Renative?"
Hello,

How can we detect windows machine id in Renative? we have tried it using node-machine-id i.e https://www.npmjs.com/package/node-machine-id package but we're unable to create a release build after integrating the node-machine-id library. We are getting the below error:
Can't resolve 'child_process' in ' \node_modules\node-machine-id\dist'.

Any suggestion would be appreciated.

Thanks in ad

[2021-04-06 18:00] mikiest opened #669 "Webpack configs should be merged using webpack-merge"
**Describe the bug**
When using `platforms.web.webpackConfig.extend` to extend some of the webpack configs for `web`, the webpack configs are currently merged using a spread operator `...extend`. This means any object we specify in `platforms.web.webpackConfig.extend`, for example `resolve`, will override the default equivalent entirely instead of being merged with it.

**To Reproduce**
1. In `ren

[2021-04-08 09:12] iepsen opened #670 "GitHub Discussions"
As [Spectrum announced](https://spectrum.chat/spectrum/general/join-us-on-our-new-journey~e4ca0386-f15c-4ba8-8184-21cf5fa39cf5) it will be ready only in favor of GitHub Discussions.

Do you have plans to move to GitHub Discussions?

[2021-04-08 21:28] bert27 opened #671 "wearOs, fast refresh not working."
I am using android wear api 28 emulator. Hot update doesn't work.

In order to see any changes to the code, you need to compile again. 1 minute and a half approximately.

Do you know of any solution? Thank you.
Add any other context about the problem here.

[2021-04-11 05:15] safeandroidtv opened #672 "Show Modal to TouchableHighlight Focus Problem"
Hi! Help me solve the problem with the modal window and the focus on TouchableHighlight, if you use all the gud outside the modal window, everything works as it should, but as soon as I put the buttons in Modal, there is a problem and the focus does not respond. What to do?

[2021-04-18 23:28] #561 closed

[2021-04-18 23:28] #562 closed

[2021-04-18 23:28] #523 closed

[2021-04-18 23:28] #560 closed

[2021-04-21 06:06] AngelsProjects commented on #14
+1

[2021-04-26 18:06] caspervanpomeren opened #673 "Error: Cannot find module"
**Describe the bug**
I am trying to just run rnv by following the quick start found here:
https://renative.org/docs/intro-quickstart

Unfortunately it throws an error that it cannot find specific modules.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command rnv
2. Select new
3. Select all recommended / press enter
4. cd to app
5. Run command rnv run -p web
6. Try going to http://127.

[2021-04-27 17:00] caspervanpomeren commented on #673
Ok, so the problem is, it looks for:
`
Error: Cannot find module 'D:\Code'`

But it should be:

`D:\Code Journey\etc..\etc..`

So somehow the spaces in the folder name causes this error, because when I remove all spaces in the folder names it suddenly works. This isn't ideal, but I have no alternative, so if anyone has, please let me know.

[2021-05-17 08:37] itsthe1-apps opened #677 "Platform Build Missing Files"
Hello,

I was able setup hello world on `web, tizen and webos`. But was getting this issue #653 .
However I found that when build in platforms, files are missing in project folder and not copying to server folder. Because when `rnv run -p web` shows missing files in web console like favicon, manifest. Please see folder structure.

PS

[code]

Folder structure:-
![Screen Shot 2021-05-17 at 2 06 12

[2021-05-18 21:05] guuhgalvao commented on #483
I have the same problem, but I try to set the tizen after 5 seconds and it doesn't work for me!

Where do you add this code?

[2021-05-19 06:16] CHaNGeTe commented on #483
does it help to set the listeners on document 'load' event?

[2021-05-19 15:09] guuhgalvao commented on #483
Could you give me an example?

[2021-05-19 15:12] CHaNGeTe commented on #483
`window.addEventListener('load', (event) => {
  // check if tizen global exists here
});`

[2021-05-19 15:25] guuhgalvao commented on #483
Should I put this code in a useEffect? And in the ./src/app/index.web.js file?

[2021-05-19 18:43] chmiiller commented on #483
yeap, that's what I did:
[code]

And it doesn't have to be on `index.web.js`, it could be at any component

[2021-05-20 06:39] CHaNGeTe commented on #483
This does not work?

[code]

[2021-05-20 13:50] guuhgalvao commented on #483
no, it doesn't work

this is my code, the load event is not executed:
[code]
this code is on the first screen of the app

[2021-05-20 13:53] guuhgalvao opened #678 "How do i open the tizen emulator web inspector?"
I need to have access to the console to validate my code, however, I don't know how to open the emulator web inspector in the tizen version

[2021-05-20 14:28] Cilveti opened #679 ""rnv run -p androidtv" does not pick up emulator"
**Describe the bug**
When running the command `rnv run -p androidtv`, the build gets built correctly and it says that
everything has gone ok, but it shows this emulator as the target: `Android_TV_720p_API_22`, which is not my emulator. It looks like the default one.

It does not seem to recognize that there is an emulator running at all.
I have tried opening the app in Android Studio, where I can

[2021-05-24 05:24] itsthe1-apps commented on #677
I was able to build the App with release schema. Which give all the files in Project Folder.

`rnv build -p web -s release`

[2021-05-24 05:24] #677 closed

[2021-05-24 18:15] acerbetti opened #682 "How to embed assets to the web build"
Hi,
I'm starting to investigate this library for some of my projects and it looks very promising.
My setup is MacOS, using version 0.31.3 and the blank template

However, I'm facing an issue when I try to build the code for the web platform. I'm using
`rnv build -p web`

And I can't find the public folder when all the assets should be moved to.
For example, the favicon.ico never gets copied there.

[2021-05-24 23:52] airtonix commented on #650
eh `nohoist` really shouldn't be the solution.... you just end up with a monorepo that takes hours to install

[2021-05-26 06:54] MalgoBlock commented on #483
Couple of observations from my experience - in case it may help someone:
First note - the key registration only works on actual device, not on the simulator.
Second note - what I have noticed is that there is a different behaviour when app is served locally in the development mode and when it's installed in the production mode - in my case it's because of the way it's being served.
In my case the

[2021-05-26 07:29] pchmelar commented on #14
+1

[2021-05-26 12:26] EyMaddis commented on #665
you need to also run `yarn link renative` inside your project to tell yarn to use the local renative version instead of the files inside node_modules

[2021-05-27 13:13] Aravind-k08 opened #683 "Issue with using react-native-video player plugin"
Hi,
While trying to add the react-native-video player plugin for native video playback, we wanted to use android-exoplayer libraries available as part of the react-native-video plugin. However, since the settings.gradle is auto generated while building for android platform, we were unable to edit it manually.
The code right now is:
project(':react-native-video').projectDir = new File('/Users/aravi

[2021-05-27 13:14] Aravind-k08 commented on #683
Using the following:
"react-native-video": "5.0.2",
"renative": "0.31.3",

[2021-06-02 17:14] #571 closed

[2021-06-02 17:14] #567 closed

[2021-06-02 17:14] #556 closed

[2021-06-02 17:14] #572 closed

[2021-06-14 09:00] #651 closed

[2021-06-18 11:54] CHaNGeTe opened #689 "RNV new fails to list platforms on 0.32 alpha version"
**Describe the bug**
Bootstrap a new project with rnv new.
At some step, you are required to opt-in for the platform you want your project to support.
The platform list is empty

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv new'
2. Fill in step by step
3. See error when platforms are prompted

**Expected behavior**
Platform list to be shown

**Screenshots or copy&paste**

[2021-06-20 12:43] jasmeet447 opened #691 "Renative gets stuck while running the command 'npx rnv run -p android' for android"
**Describe the bug**
My project works fine on ios but as soon as I try to run it for android, the whole process 'Pauses'.  The bug also occours on creating a new Renative Helloworld Templaye also.
I Don't get any error, it just freezes and I've to restart and same things happen again.

**Expected behavior**
Atleast some logs should be there to help.

**Logs: **

jasmeet-singh:VideoReadyOTT jasmeet

[2021-06-23 10:53] JoaoCEAlmeida commented on #483
I'm also facing the same problem, tizen in window is undefined.
I tested in a real device as well.

You guys found any solution to detect remote events?

Thanks in advance

[2021-06-25 16:00] LeonardMichiels opened #693 "Could not initialize class org.codehaus.groovy.runtime.InvokerHelper when using "rnv -p androidwear""
**Describe the bug**
When I try to ust the "rnv -p androidwear" on a freshly created app. i get an error : Could not initialize class org.codehaus.groovy.runtime.InvokerHelper .

**To Reproduce**
Steps to reproduce the behavior:

1. Run command "rnv -p androidwear"

**Expected behavior**
This command should start my application on my android studio emulator. So far it boots the emulator properly b

[2021-06-28 13:46] niktonic21 opened #694 "Missing folder when running build Docker"
**Describe the bug**
When running build and export docker file I got an error `mkdir: can't create directory '/run/nginx': File exists `even folder does not exist;

**To Reproduce**
Steps to reproduce the behavior:

1. Run command `rnv docker export -p web -c xxx -s prod`
2. See error

#7 [3/6] RUN apk add nginx &&     apk add openssl &&     openssl req -x509 -nodes -days 365 -subj "/C=CA/ST=QC/O=

[2021-06-29 13:58] TheDuc commented on #638
any progress on this?

[2021-07-08 14:46] jonatasts opened #698 "External lib to Renative"
How can I add an external lib to renative?

[2021-07-09 10:15] RicardasN commented on #698
If by lib you mean plugin, then this is what you're looking for - https://github.com/pavjacko/renative/tree/develop/packages/rnv/pluginTemplates

Here you can add the plugin to `renative.plugins.json` file, don't forget to link it though as auto linking is disabled at the moment.
If you need to add tvOS support or override something that does not work by default you can also override the plugins h

[2021-07-09 11:24] #609 closed

[2021-07-20 23:10] #623 closed

[2021-07-22 11:19] d4rky-pl opened #699 "Cannot connect to the device with adb over wifi"
**Describe the bug**
When running `rnv run` it kills the `adb` server and restarts it again. This clears any devices that are connected remotely.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable adb over wifi on your device
2. Find the IP to the device and connect with `adb connect x.x.x.x:5555`
3. Run `rnv run -p androidwear -d`

**Expected behavior**
It should connect to the availab

[2021-07-22 18:48] #698 closed

[2021-07-26 09:31] #673 closed

[2021-07-29 04:20] #504 closed

[2021-08-03 13:45] doneitas commented on #416
Still reproducible when trying to run `android` or `androidtv` in **hello-world** or **blank** apps

ReNative Version: **0.32.0-alpha.43**
Platform: **android (same error with androidtv)**
Engine: **engine-rn**
App Config: **blank (same error with hello-world)**
Build Scheme: **debug**
Target: **Pixel_4_API_30 (same error with Android_TV_1080p_API_28)**

[2021-08-03 20:18] aurimasmi commented on #416
Try to add:

[code]

[2021-08-04 07:29] doneitas commented on #416
That helped, thanks 💯

[2021-08-04 13:37] kasinskas commented on #671
https://github.com/pavjacko/renative/blob/363ad04102a385047bf68bcbc0757cd3b3581424/packages/rnv-engine-rn/src/sdks/sdk-android/index.js#L90

rnv prevents react-native from trying to even connect to the bundler, because of unsupported webview

[2021-08-10 03:31] #581 closed

[2021-08-11 13:22] jonatasts opened #705 "How to focus a touchable opacity component in a FlatList in tvOS"
![image](https://user-images.githubusercontent.com/49213782/129034104-1c1c88d9-ff45-4a9b-b398-1b8ad5c805fb.png)

I'm focusing on a FlatList button that selects the video's caption, but when I open the modal again and navigate between the buttons, the focus goes to the top of the list instead of the button that is focused.

https://www.loom.com/share/e572acde4ee94319ad3106c394b8e238

![image](https

[2021-08-12 20:46] jonatasts commented on #705
I used scrollview instead of FlatList, but the same thing happened before.

[2021-08-13 10:57] sofiaringstrom opened #707 "New project not working"
**Describe the bug**
Unable to run/start a new, clean project. I've tried setting up the project with both the empty template and hello-world.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv' and set up a project
2. Go into project folder, run 'rnv start' or 'rnv start', select a platform. I've tried both tvOS and iOS.

**Expected behavior**
The server should start and run

[2021-08-16 10:12] doneitas commented on #705
Hey. Not really sure what causes this issue, but I've noticed interesting choice here with button ref:

![image](https://user-images.githubusercontent.com/36989231/129547800-478619db-d421-4351-b58a-eb839313b8f9.png)

Idk if it has anything to do with your issue but maybe it would be better to have an array of buttonRefs and control these modal buttons that way, instead of providing the single butt

[2021-08-16 10:36] doneitas commented on #707
It's probably related to newer Xcode version (12.5.1). By default tvos target is "Apple TV 4K" (you can find default targets in `~/.rnv/renative.json` file) but your Xcode version doesn't have this target installed by default. So what could you do just to test it, try run the project like this:
[code]

And let's see if that helps

[2021-08-22 18:12] #455 closed

[2021-08-22 18:12] #322 closed

[2021-08-22 18:12] #498 closed

[2021-08-22 18:12] #294 closed

[2021-08-22 18:12] #474 closed

[2021-08-22 18:12] #511 closed

[2021-08-25 07:11] apostopher opened #712 "[webOS] webpack dev server does not serve webOSTVjs-1.1.1/webOSTV.js"
**Describe the bug**
as per the [webOS SDK](https://webostv.developer.lge.com/api/webostvjs/intro-webostvjs/) the webOSTV.js file does not load in the freshly created project.

**To Reproduce**
Steps to reproduce the behavior:

1. create a new rnv project
2. run the app on LG TV device -> `rnv run -p webos -d`.
3. debug the app to see 404 errors for `webOSTV.js` and `webOSTV-dev.js`

<img width="5

[2021-08-28 16:13] #436 closed

[2021-08-30 00:12] #637 closed

[2021-08-30 06:09] doneitas commented on #705
Did you try `hasTVPreferredFocus` prop?

[2021-08-30 11:45] #705 closed

[2021-08-30 12:02] jonatasts commented on #705
I tried that too but it keeps focusing on the first button and navigation also starts from the first button.
And in this case with `hasTvPreferredFocus` the bug of showing as if there were two buttons selected happened again.
So, as a workaround, I let autofocus on the first button happen and reordered the list by moving the selected button to the first one in the list.

[2021-09-06 08:46] EyMaddis commented on #654
The question is still relevant for me :)

[2021-09-13 00:30] MomoDeLuxe opened #713 "Tizen webapis access"
It doesn't work with me to access Tizen webapis API. Any solution for that?1

[2021-09-21 23:21] #645 closed

[2021-09-21 23:21] #648 closed

[2021-09-21 23:21] #647 closed

[2021-09-21 23:21] #649 closed

[2021-09-21 23:21] #644 closed

[2021-09-21 23:21] #634 closed

[2021-10-02 00:12] #652 closed

[2021-10-13 20:11] phillipcmittmann opened #716 "Platform specific id"
I have an app that is the same for Android and iOS with different ids for reasons beyond my control.

If I understood right, to change the ids to be specific for each platform, my `./renative.json` (not `./appConfigs/renative.json`) should be something like this:

[code]

Is that correct?

[2021-10-14 05:34] hosek commented on #716
You can specify it in common section on the top of appConfig
[code]
 or override it per platform build scheme, what is most common solution
[code]

[2021-10-17 02:44] bigroski opened #717 "Unable to Change compileSdkVersion for Android"
While npx rnv run for android platform , the gradle.build always uses the compile SDK version as 28, how can i change the value of compileSDKversion to 29 or 30

![image](https://user-images.githubusercontent.com/3016900/137608516-d5c6a9e3-b8e7-45b7-8140-8db336644468.png)

Platfrom: windows 10
Node: 12.13.0
npm: 6.12.0

[2021-10-18 18:51] uplusion23 commented on #693
I would enter this under `renative.json/#/platforms/androidwear`? I've tried doing such, but the build resets back to version 5.5 in `~/platformBuilds/blank_appname/gradle/wrapper/gradle-wrapper.properties`.

Thank you for the assistance!

[2021-10-18 20:55] ngethe opened #718 "Streaming App multi-platform development"
Hi I am looking for someone that has done a streaming application at least for WebOS, Tizen TV, Android TV please inbox me if you have a ready or almost ready streaming application

[2021-10-22 15:19] matiasmateu opened #719 "next folder missing in node_modules after installing rnv from npm globally"
**Describe the bug**
The next module is not listed in node_modules after a npm installation

**To Reproduce**
Steps to reproduce the behavior:

1. npm install rnv@0.32.0-alpha.42 -g
2. go to /usr/local/lib/node/rnv/node_modules
3. next is not there

**Expected behavior**
next module should be installed

**Screenshots or copy&paste**
If applicable, add screenshots to help explain your problem.
If a

[2021-10-31 15:36] Luiz-Monad commented on #718
Hello, I have an almost ready player and streaming services. You can contact me for business at my mail address in my github profile.

[2021-10-31 15:39] Luiz-Monad commented on #678
You can do this.

[code]

I think `rnv debug` should really do this instead of whatever is that it tries to do for Tizen which doesn't work.

[2021-11-03 18:38] phillipcmittmann opened #720 "react-native-snap-carousel not working with Tizen and WebOS"
**Describe the bug**
The package works as intended on android and iOS, but breaks on Tizen and WebOS.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command `npx rnv plugin add react-native-snap-carousel` (ran `yarn add react-native-snap-carousel` after, same result)
2. Run command `npx rnv run -p tizen --hosted`
3. Run command `npx rnv run -p webos --hosted`

**Expected behavior**
Not

[2021-11-04 07:30] doneitas commented on #720
I've never tried using this library on these platforms (tizen, webos), but I doubt that it supports these platforms and that it would work properly

[2021-11-04 11:39] phillipcmittmann commented on #720
The thing is, the docs says that the plugin works on these platforms, as the image bellow

![Captura de Tela 2021-11-04 às 08 33 22](https://user-images.githubusercontent.com/54452466/140306632-be3f85b2-6875-4c7a-93d7-f1a0a9339723.png)

Im trying to do something like the example from here https://github.com/NoriginMedia/react-spatial-navigation, but with FlatList since Im not sure the amount of i

[2021-11-04 11:48] doneitas commented on #720
I see. Did you try exact version 3.7.5 ?

But you don't really need react-native-snap-carousel for that example from `react-spatial-navigation` 🤔

[2021-11-04 13:00] phillipcmittmann commented on #720
I changed to 3.7.5 and pinpointed the problem directly from the console. `View.propTypes.style` is undefined for whatever reason. Changing to `View.propTypes?.style` resolved the issue.

IIRC, using `map()` has a worse performance than a FlatList, and the data I will display probably will be "heavy".

[2021-11-04 13:00] #720 closed

[2021-11-07 13:36] pavjacko opened #999 "windows OS support"
Additional info:
Possibly related ticket - https://github.com/flexn-io/prd-flexn/issues/153

[2021-11-07 13:36] pavjacko opened #998 "decouple engines to separate repos"

[2021-11-07 13:36] pavjacko opened #997 "json schema active support"
- generate and validate rnv json schema in projects dynamically
- populate `.rnv` folder with versioned schemas
- offer to decorate existing config with missing schema declarations

[2021-11-07 13:36] pavjacko opened #996 "support for lightning"
- lng index in app-harness entrypoint
- app-harness needs to work with engine-lng

[2021-11-07 13:36] pavjacko opened #995 "rn to lightning transpiler"

[2021-11-07 13:36] pavjacko opened #994 "expose rnv cli via node imports"

[2021-11-08 18:40] ngethe commented on #718
Thanks @Luiz-Monad check your email

[2021-11-08 18:50] ngethe commented on #712
Hi @apostopher how did this go did you solve it ?
looking for complete streaming solution let me know if you have it

[2021-11-08 18:51] ngethe commented on #683
Hi @Aravind-k08  how did this go did you solve it ?
looking for complete streaming solution let me know if you have it

[2021-11-09 19:18] #416 closed

[2021-11-10 19:29] Aravind-k08 commented on #683
Hi @ngethe yes we did solve this. I will ask my colleague to share the snip

[2021-11-11 12:57] sreeramsanal commented on #683
Hi @ngethe  we resolved the problem by adding the following in renative.json file:
"react-native-video": {
            "version": "5.0.2",
            "android": {
                "package": "com.brentvatne.react.ReactVideoPackage",
                "path": "node_modules/react-native-video/android-exoplayer"
            },
            "androidtv": {
                "package": "com.brentvatne.react.

[2021-11-11 13:00] ngethe commented on #683
Thanks for the feedback

[2021-11-11 13:47] BlueBazze opened #729 "What have i fucked up"
So im trying to use the navigation from Spatial Navigation.

It seems no matter what i try, i cant get the key press on WebOS with 5-way input. Havent tried pointer input.
It works perfectly in a fresh hello-world template, but when i try to implement it myself it just stops working. Ive looked over the differences between the blank & hello-world templates. Couldnt find any difference that should

[2021-11-11 15:00] ali-sao commented on #729
@BlueBazze  , your button has to be focusable as well, i.e wrapped by withFocusable too. Try this row button component and let me know :

[code]

[2021-11-11 15:11] BlueBazze commented on #729
@ali-sao I have done this. Just updated the repo with a version that actually gives me feedback that an item has been selected. Below the Btn component i have a const called Button wrapping Btn withFocusable.
Now, i have it working if i open localhost:8088 while running the WebOS app. But still cant navigate with the remote.
Ive tried in index.tsx to print a response to screen on document.addEvent

[2021-11-11 15:13] BlueBazze commented on #729
According to LG's documentation, the buttons should be the same as the default keymap set in the spatial-navigation package

[2021-11-13 09:52] #664 closed

[2021-11-13 12:16] mihaiblaga89 commented on #719
Can you post more info about what command are you running? `rnv` does not have `next` as a dependency so you will never find it there. `engine-rn-next` though has a peerDependency on `next`. Check if your renative.json plugins includes `next: "source:rn"`.

[2021-11-13 12:28] #718 closed

[2021-11-13 12:31] #717 closed

[2021-11-13 12:32] #716 closed

[2021-11-13 12:38] mihaiblaga89 commented on #713
Can you please provide more details about where/how you expect the tizen apis to be available? They should work, [code](https://github.com/pavjacko/renative/blob/develop/packages/rnv/coreTemplateFiles/appShell/index.html#L25), you should have `global.tizen` and `global.webapis` available.

[2021-11-13 12:52] MomoDeLuxe commented on #713
Well in debug mode webapis is not available, thought it is common. Had to you use static DEV params and it works. But, us there is any way to access webapis in DEV mode?!

[2021-11-13 12:55] MomoDeLuxe commented on #713
Mind that app shell doesn't include $WEBAPIS script tag in header.

[2021-11-13 12:58] mihaiblaga89 commented on #713
The code that I referenced, the `appShell` thing which waits for 5s and then loads the `webpack-dev-server` URL that's running on your machine, only runs on DEV mode. So I'm guessing they should be available. Do a `console.log(typeof webapis, typeof global.webapis, typeof document.webapis)` and see what it says.

[2021-11-13 13:05] MomoDeLuxe commented on #713
I did, but always webapis undefined in debug mode, while .tizen is there as will well as .avplay

[2021-11-13 16:01] pauliusguzas opened #731 "Rnv does not pick default simulator for android and androidtv"
**Describe the bug**
Rnv does not pick default simulator for android and androidtv

**To Reproduce**
1. In your renative.json set desired default targets
<img width="636" alt="Screenshot 2021-11-12 at 14 59 08" src="https://user-images.githubusercontent.com/65670660/141650503-91bcc6f6-5380-411c-b337-4ef6bb309877.png">
2. Run command `npx rnv run -p android` (or androidtv)

**Expected behavior**
De

[2021-11-13 16:19] mihaiblaga89 commented on #713
then I'm guessing it's a limitation by the tv? If it exists it should be injected. But I think you can debug prod applications with weinre. Can you try to run your prod version with `--debug weinre` and see what happens?

[2021-11-13 20:04] MomoDeLuxe commented on #713
Got the same behavior. I did find the way around by implementing debug static params also had to build on screen debug module.

![Screenshot 2021-11-13 at 22-03-08 Hello MOOV](https://user-images.githubusercontent.com/37867472/141657541-e76b54c4-ba0d-42af-a2e3-444dc8a8912a.png)

[2021-11-14 01:52] dluc commented on #637
+1 for having a TypeScript template

[2021-11-14 01:57] dluc commented on #14
+1 please!

[2021-11-14 08:02] pavjacko opened #993 "Linux OS Support"

[2021-11-14 11:32] #731 closed

[2021-11-14 11:42] mihaiblaga89 commented on #699
that most likely happens because rnv thinks your watch is a phone. Support will need to be added for that device if it's one which doesn't advertise itself as being a watch in the common properties that rnv checks. Would be nice if you could send us the output of `adb devices -l` and maybe `adb -s <ID> shell getprop` so we can add it. In the meantime you could skip the device decision making part

[2021-11-14 12:00] #694 closed

[2021-11-14 18:23] #293 closed

[2021-11-14 18:24] #114 closed

[2021-11-14 18:28] #492 closed

[2021-11-14 18:29] #441 closed

[2021-11-15 10:21] pavjacko opened #992 "decouple SDKs to separate repos (written in TS)"

[2021-11-16 09:05] BlueBazze commented on #729
Still no update on this, still not able to get input on webos

[2021-11-16 13:49] TheDuc opened #734 "kotlinVersion prop not parsed correctly"
**Describe the bug**
Setting kotlinVersion in renative.json currently does not work (as of version 0.32.0)

**Expected behavior**
To be able to set kotlinVersion

**Additional context**
`kotlinVersion` prop has been added to `gradleParser.js`, but is not retrieved from `renative.json`.
I believe this is due to the fact that `getConfigProp` is not called for `kotlinVersion`

[2021-11-17 14:46] phillipcmittmann opened #737 "Youtube player on WebView on Tizen/WebOS"
How can I display a Youtube player on Tizen or WebOS? I tried pretty much every package that I could think of and probably some more I don't remember.

[code]

When using `webview` only displayed a red dot on top left of the screen if used with `SafeAreaView` or a red line if by itself.

[2021-11-17 17:05] MomoDeLuxe opened #738 "ReNative v 0.32.1 Tizen TV app not loaded"
**Describe the bug**
App not loaded on TV

**To Reproduce**
Steps to reproduce the behavior:

1. RNV new project with Hello world
2. Test on TV rnv run -s -p tizen -t TV_IP
3. App white screen

**Expected behavior**
Hello world home page.

[2021-11-18 10:02] A-Mostafa-B opened #741 "androidwear The app keeps crashing"
**Describe the bug**
App crashes when i try to use any of those
- fetch web request

  const SendRequest = async(strUrl){
      var objRequestConfiguration = {
          method: 'GET',
          headers: { "Accept": 'application/json', 'Content-Type': 'application/json' }
      };
      try {
       //strUrl is local network get api
          var varFetchResponse = await fetch(strUrl, objRequestCo

[2021-11-18 10:04] mihaiblaga89 commented on #741
please follow the bug report template otherwise we have no information on what to debug

[2021-11-18 10:07] mihaiblaga89 commented on #738
what rnv version are you using?

[2021-11-18 10:08] mihaiblaga89 commented on #737
that to me sounds like a styling issue, try to see if you can make the webview 100% height

[2021-11-18 10:17] A-Mostafa-B commented on #741
i updated the issue

[2021-11-18 10:30] mihaiblaga89 commented on #741
so you're saying that any of these 3 snippets cause your android wear to crash? At first glance, I see a window on the 3rd one, you don't have a window object in RN environment. You could use `adb` to get the device logs so you'll know why the app crashed.

[2021-11-18 10:35] mihaiblaga89 commented on #734
released in 0.32.1

[2021-11-18 10:35] #734 closed

[2021-11-18 10:36] mihaiblaga89 commented on #707
fix for wrong default targets released in 0.32.0

[2021-11-18 10:36] #707 closed

[2021-11-18 10:37] mihaiblaga89 commented on #719
should be fixed in 0.32.0

[2021-11-18 10:37] #719 closed

[2021-11-18 10:40] mihaiblaga89 commented on #691
0.30.4 is quite old. Can you try to update your rnv version and see if that fixes it?

[2021-11-18 10:46] mihaiblaga89 commented on #689
@CHaNGeTe do you still have this issue? IIRC there were some changes in the latest version(0.32.*) that should mitigate this.

[2021-11-18 10:47] mihaiblaga89 commented on #683
considering closed

[2021-11-18 10:47] #683 closed

[2021-11-18 11:03] trokohl commented on #738
I have the same issue, it seams that the dev server only listen to 127.0.0.1 and the Apps use the IP

[code]

http://127.0.0.1:8087 => ansers
http://192.168.66.74:8087 => not

[2021-11-18 11:29] trokohl commented on #738
add
[code]
in the renative.json as a workaround

[2021-11-18 11:52] MomoDeLuxe commented on #738
setting devServerHost to local machine IP address seems to work

[2021-11-18 13:47] phillipcmittmann commented on #737
I managed to render a mock using `react-native-web-webview` for Tizen, WebOS and Web, and `react-native-webview` for mobile using the `html` prop to render a iframe.

But, at the web platforms, the compiler shows an error besides rendering the screen without problems and not changing anything. According to the docs, I need to change my webpack config file. My `./renative.json` (not `./appConfigs/*

[2021-11-18 18:43] phillipcmittmann commented on #737
Managed to make it work with `react-native-youtube-iframe` on almost all platforms (haven't tested on android yet). Remove the changes I had made on `./renative.json` and added to the plugins: `react-native-webview`, `react-native-web-webview` and `react-native-youtube-iframe`.

This still happening though.

[2021-11-18 18:43] #737 closed

[2021-11-19 13:14] phillipcmittmann opened #743 "How to pass params in navigation?"
Im not sure how to do this for all platforms, since the docs don't provide a clear example. Currently I have component like this:

[code]

I need to pass `item.id` on navigation to get the right video on the player. I tried `() => navigate(ROUTES.PLAYER, '/[slug]', { id: item.id })`, but no success. On the same note, how do I access this param on the screen that I navigated to?

The platforms that

[2021-11-19 21:07] MomoDeLuxe commented on #713
Well, ReNative v 0.32.1 webapis API ARE PRESENTED :)

[2021-11-20 01:27] pavjacko commented on #743
@phillipcmittmann if you use hello-world template as a baseline, it uses `@reach/router` for web implementation (including tizentv)

so correct syntax should be:

[code]

and to receive the params in player page:

[code]

note, you do not have to use `@reach/router`. you can pick any routing library and build your own navigation system

but good point. we'll add param passing (for all platforms) t

[2021-11-20 08:19] pavjacko opened #991 "add support for Doctor (env checker/helper)"

[2021-11-20 08:20] pavjacko opened #990 "add support for --instane logger"

[2021-11-20 08:24] #426 closed

[2021-11-21 12:05] analyserdmz opened #744 "Multiplatform HLS streaming player examples?"
Hello, are there any renative multiplatform (aka. Android, MacOS, iOS, Windows, Tizen, WebOS) streaming player examples, as a starting point to understand the logic?

[2021-11-22 06:49] A-Mostafa-B commented on #741
okay .. i will try get device logs but can you tell me how is that?
and how can i handle watch button onClick event ?

[2021-11-22 11:16] ali-sao commented on #744
@analyserdmz , you can create a platform specific base file and use `createElement ` from `react-native-web` like so :

`import { createElement } from "react-native-web";
const Video = (props) => {
  const attrs = {
    src: props.source,
    poster: props.poster,
    controls: "controls"
  }
  return createElement("video", attrs)
}
export default Video`

Then use it the same way you do with `reac

[2021-11-22 12:59] phillipcmittmann commented on #743
Sadly still didn't work, but I will build my own navigation system like you said. Thanks for the help.

[2021-11-22 12:59] #743 closed

[2021-11-22 13:28] A-Mostafa-B commented on #741
![Capture](https://user-images.githubusercontent.com/54144866/142869691-bc480fb7-3db6-4465-ab8a-1b3b9a0f7779.PNG)

[2021-11-22 13:29] A-Mostafa-B commented on #741
I updated the issue with logs

[2021-11-22 13:30] A-Mostafa-B commented on #741
I updated the issue with logs

[2021-11-23 06:32] A-Mostafa-B commented on #741
I tried to change the version of okhttp (as someone recommend me this solution) , but the version go back after build to default 3.6.0
so how can i change it ?
![Capture1](https://user-images.githubusercontent.com/54144866/142979775-5e958bcf-4329-4d9e-a6f1-a07848858cba.PNG)

[2021-11-23 08:47] A-Mostafa-B commented on #741
How can i see console log from bundler ?

[2021-11-23 09:46] A-Mostafa-B commented on #615
How can i register the plugin?

i installed react-native-volley and did as documentation, but not working for me and i don't know how to get debug console log to see what is going on

[2021-11-23 13:37] A-Mostafa-B commented on #741
I solved the fetch and sound issues by register the libraries in plugins renative.json

[2021-11-23 13:38] A-Mostafa-B commented on #741
i will search how to handle watch button onClick event

Thanks

[2021-11-23 13:38] #741 closed

[2021-11-24 20:15] Luiz-Monad opened #745 "rnv target launch asks for platform despite being set in the command line"
**Describe the bug**
The tools is asking for my platform, but I informed it on the command line.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
[code]
**Possible culprit**
https://github.com/pavjacko/renative/blob/eef0d7f8b01d85e75e34a91c2c168b27f45179e6/packages/rnv/src/core/platformManager/index.js#L103

I solved the problem by replacing here
https://github.com

[2021-11-25 12:25] d4rky-pl commented on #699
@mihaiblaga89 FYI: I have this email pinned in my inbox and I promise I'll deliver you more information but I stopped using my TicWatch 3 Pro and removed ReNative months ago so I'll have to wait for the weekend to set everything up again and get you more context.

As for RNV thinking my watch is a phone, I do remember applying [a patch](https://github.com/pavjacko/renative/pull/666) manually to en

[2021-11-25 15:39] pavjacko commented on #745
thx @Luiz-Monad . will be fixed in this PR #747  target for 0.33

[2021-11-25 15:42] pavjacko commented on #670
@iepsen bit late response but yes!

we plan to launch GH discussions together with [0.33](https://github.com/pavjacko/renative/milestone/18)

[2021-11-25 18:10] mihaiblaga89 commented on #699
Oh yeah, that was merged. Then I think I can consider this issue closed if that patch was working for you. Otherwise if you still encounter this issue feel free to reopen it. If you get the chance to send us more info about the device by running the commands specified above we would greatly appreciate it.

[2021-11-25 18:10] #699 closed

[2021-11-26 08:26] d4rky-pl commented on #699
@mihaiblaga89 the patch was not working for me which is why I opened the issue in the first place

[2021-11-28 16:07] maxiannunziata opened #749 "Redux is avalaible for all platforms ?"
In Renative is possible use Redux to handle global states?

[2021-11-28 16:47] ali-sao commented on #749
Yes you can, just like any other projects , install the dependencies and go ahead.

[2021-11-29 01:19] #749 closed

[2021-12-01 22:59] sidferreira opened #752 "Existing projects + keeping RN up to date"
I have an existing project using RN 0.66.
Is there any migration guide to use `renative`?
Can I specify rn versions?

[2021-12-03 22:02] sajjadgrw1 opened #756 "can not bundle project and server into wgt."
Previously I used Tizen studio and it generate wgt file with all content in it. I recently migrated an app from react-native to renative and am done with the final changes for the TIZEN TV app. I am able to run and debug app on real device. But when i tried to install WGT using sdb, it is not working on tizen because it is not able load server files from my mac machine.
App is not completely bundl

[2021-12-05 14:39] ali-sao commented on #55
@pavjacko , any good luck here?

[2021-12-08 08:34] fanzhiri opened #757 "show error when npm dist-tag ls renative-template-hello-world"
npm dist-tag ls renative-template-hello-world

FAILED with ERROR:

Command failed with exit code 1 (EPERM): npm dist-tag ls renative-template-hello-world

npm ERR! dist-tag ls Couldn't get dist-tag data for Result {
npm ERR! dist-tag ls   type: 'tag',
npm ERR! dist-tag ls   registry: true,
npm ERR! dist-tag ls   where: undefined,
npm ERR! dist-tag ls   raw: 'renative-template-hello-world',
npm ERR

[2021-12-08 08:41] mihaiblaga89 commented on #757
you have a misconfigured `~/.npmrc`. You're pointing all your packages to ` https://repo.huaweicloud.com` registry and the helloworld template is published to npm. You can point only the packages you need from huawei to that repo and leave the rest to npm.

[code]
instead of
[code]

[2021-12-08 08:58] mihaiblaga89 commented on #756
the development app has an "app shell", which is nothing but a simple HTML with a redirect after 5s to your development machine that is running a webpack-dev-server, for easy development and hot reloads. That's why you don't see your app inside the output. You should be able to produce a production build with `rnv export`

[2021-12-08 14:12] RicardasN opened #989 "[Windows, macOS] Running a project with a space symbol in it's path produces an error"
I found this during testing of FlexStudio on Windows, if the project is placed in a location like this:
`C:\Users\VENOEN\Documents\Test Flexn Studio\Project X\FlexCode\Test`
Meaning it has spaces between words, running this project will not be possible, this is the error I see in the CLI window:
[code]
![Screenshot 2021-12-08 at 16 16 38](https://user-images.githubusercontent.com/36963057/14522354

[2021-12-09 05:21] sajjadgrw1 commented on #756
Yes correct this is what i thought first.
<img width="790" alt="renative" src="https://user-images.githubusercontent.com/4892234/145338963-9cd142f9-cadf-40d6-a449-a9b0cade3094.png">
I have done a workaround, that is copy content from server folder into tizen studio project and created WGT file from tizen studio.

[2021-12-10 02:30] fanzhiri commented on #757
I change one line in the ~/.npmrc

registry=https://registry.npm.taobao.org/
instead of
registry= https://repo.huaweicloud.com/repository/npm

[2021-12-10 02:30] #757 closed

[2021-12-10 06:54] fanzhiri opened #759 "doResolve is not a function"
rnv build -p androidwear -s release

show error

│ [ error ] [configure] doResolve is not a function
TypeError: doResolve is not a function
    at doResolve (/Users/slakofan/Gitee/rnv-project/wearpoem/node_modules/rnv/src/core/systemManager/fileutils.js:589:46)
    at Array.forEach (<anonymous>)
    at forEach (/Users/slakofan/Gitee/rnv-project/wearpoem/node_modules/rnv/src/core/systemManager/file

[2021-12-10 09:32] fanzhiri opened #760 "Why he renative-template-hello-world is a big apk 85M ?"
i just begin to make apk for androidwear

i followed the docs to new a project using templet which named renative-template-hello-world

then , rnv package \ rnv build , a big apk was output for me , 85M

i think , less than 10M was acceptable

How to make it small ?

[2021-12-10 09:50] RicardasN commented on #760
This would be the thread to help you - https://stackoverflow.com/questions/60630065/how-to-reduce-android-apk-size-in-react-native
In ReNative I can see those 2 properties set to `false`. Not entirely sure why it was done this way or what would happen if you set them to `true`but that's one thing to try. As they are sort of hardcoded you can override them by injecting your own app/build.gradle in

[2021-12-10 14:54] fanzhiri commented on #645
@vio-codes I am Apple Silicon , I just begin , not work well with Apple Silicon , are  you Chinese ? let's be friend , wx : slakofan

[2021-12-11 08:37] fanzhiri commented on #760
thanks for writing a lot

I unzip the app-release.apk , then found that there are four arch libs in the lib dir .

arm64-v8a\armeabi-v7a\x86\x86_64

"Check your project's renative.json and modify it accordingly".  ---- I have no idea  how to do

can you help more ? thanks

[2021-12-13 04:14] vvsamin opened #762 "react-native-windows and auto-linking"
As I can see autolinking is set to "false" for react-native-windows/cli. If I set the "autolink" property to "true" for the "windows" platform in the renative config, then the build crashes at the autolinking stage (problems with paths). How can I link packages such as "async-storage" or "react-native-video"?

[2021-12-13 13:43] pavjacko commented on #670
new discussions section is now live
https://github.com/renative-org/renative/discussions

[2021-12-13 13:43] #670 closed

[2021-12-13 13:45] pavjacko commented on #632
0.33.0 comes with support for react-native 0.63.4

[2021-12-13 13:45] #632 closed

[2021-12-13 15:22] RicardasN commented on #760
So to build multiple apks for separate architectures you have to modify androidwear platform inside `appConfigs/yourappconfigid/renative.json` (`base/renative.json` gets merged with the values specified here, these taking priority, so I recommend specifying here rather than in base).
![Screenshot 2021-12-13 at 17 16 31](https://user-images.githubusercontent.com/36963057/145838156-25338595-c466-459

[2021-12-14 12:16] vvsamin commented on #762
@RicardasN can you help me with this?

[2021-12-14 12:29] RicardasN commented on #762
At the moment the react-native-windows engine was added as a sort of alpha test if it would work. React-navigation seemed to work straight out of the box, the focusing of elements on Xbox using gamepad required some things enabled before it started to work, however, due to other priorities the experiment was left at that stage, with quite a lot still in TODO.

What still needs to be done?:
- Gener

[2021-12-14 13:15] vvsamin commented on #762
@RicardasN Thank you for your answer and thank you for your contribution to the ReNative project.
I will try to fix this problem and if something works out I will add PR.

[2021-12-14 14:31] ali-sao opened #766 "Unable to run legacy project (0.32) after upgrading to 0.33"
**Unable to run  rnv run -p platform**
I was able to run the app before updating to 33

1. Run command `rnv run -p webos`
2. See error : `Cannot destructure property 'buildCoreWebpackProject' of '_rnv.WebpackUtils' as it is undefined.`

**Full stacktrace**
`[ error ] Cannot destructure property 'buildCoreWebpackProject' of '_rnv.WebpackUtils' as it is undefined.
TypeError: Cannot destructure prope

[2021-12-15 08:05] mihaiblaga89 opened #988 "Check if getting sims 2 times is needed"
[code]

[2021-12-15 08:13] mihaiblaga89 opened #987 "Android sdk and avd require prompts"
## Description
When you don't have created android simulators program asks to create it. If you use macos with ARM CPU, you will get error.

## Old Description
Do you want ReNative to create new Emulator (Pixel_XL_API_30) for you? Yes
[ task ] [run] _createEmulator[1]
⠸ Accept? (y/N):
⠹ Accept? (y/N):
⠋ Accept? (y/N):
⠦ Accept? (y/N):^C

[2021-12-20 14:50] HernanPaez opened #769 "WebOS and Tizen apps dont load after export"
Hi! I am working on an app for smart tvs (webos and tizen) and everything is working fine when I run the app using the rnv run command but, when I try to export a release build, it isn't loading and it shows only a white screen.

I know that the development build uses webpack and the app only loads an iframe. Knowing this I added a new build configuration for my app using the information I got fro

[2021-12-21 13:21] wwwebgainss0 opened #770 "How to add Expo Template to Renative"
Hi,

how can I add a Expo Template to renative cli and deploy?

Thx in Advance

[2021-12-21 16:27] JoaoCEAlmeida commented on #769
Hi, I'm facing the same problem...I fixed using the following on the renative.json to override the default:

    "webos": {
      "entryFile": "index.webos",
      "buildSchemes": {
        "debug": {
          "bundleAssets": false
        },
        "release": {
          "bundleAssets": true,
          "bundleIsDev": false,
          "webpackConfig": {
            "devServerHost": "0.0.0.0",

[2021-12-21 16:34] JoaoCEAlmeida commented on #678
Hi just use my google chrome broswer, with the url and port where the project on tizen is running and test it there.

For example, if the project is running on my localhost port 8087 I just open the http://localhost:8087 on my chrome.

[2021-12-26 11:24] mihaiblaga89 commented on #770
theoretically it should be possible to support any React Native project, including Expo, you just need to have the correct dependencies. Do you maybe have a template link so I can have a look?

[2021-12-26 12:38] mihaiblaga89 commented on #766
@ali-sao can you check your package.json if the rnv-engine-rn-web's version matches the rnv version? All engines should match the rnv's version.

[2021-12-26 12:41] mihaiblaga89 commented on #762
considering this closed for now, if something else comes up please reopen it.

[2021-12-26 12:41] #762 closed

[2021-12-26 12:44] mihaiblaga89 commented on #760
considering this closed for now. Feel free to reopen if needed

[2021-12-26 12:44] mihaiblaga89 commented on #760
considering this closed for now. Feel free to reopen if needed

[2021-12-26 12:53] mihaiblaga89 commented on #759
what RNV version and what project are you trying to run this on? Are you using the hello-world template or is it a custom project?

[2021-12-27 21:24] SimoneCarnio commented on #713
It's not very clear to me how to access tizen object, for example, how to access this?

tizen.application.getCurrentApplication().exit();

when I try to access the "application" property (also in chrome devtools) the tv app instantly crashes without any error message

[2021-12-28 01:10] SimoneCarnio commented on #713
just realised that with  "bundleAssets": true  in the debug scheme it works, when using appShell it crash (renative 0.33)

[2021-12-28 06:03] Leena-Sharma-rsys opened #772 "which video sdk for chromecast"
which video sdk will be supported to chromecast ?  currenty i am ussing react-native-video as it supports dom, but its not working show blank screen .

[2021-12-29 10:24] ali-sao commented on #772
Try another player , react-player would do the job

[2022-01-03 14:25] rokn opened #773 "Wrong dev host IP"
**Describe the bug**
When the machine which is hosting the dev server has multiple network adapters the `ip` package is returning wrong IP address, which results in `DEV_SERVER` set to wrong IP address. Maybe using the `devServerHost` from the config(if possible) would fix this issue.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a network adapter to your machine(for example with a VM

[2022-01-07 07:23] pavjacko commented on #773
@rokn thanks for reporting this. I think it should be possible to add support for host override in such circumstances. will check it out

[2022-01-07 07:24] #745 closed

[2022-01-07 07:26] #615 closed

[2022-01-07 09:46] #773 closed

[2022-01-09 19:14] wwwebgainss0 commented on #772
Hi @ali-sao I am trying to install this plugin. After running npm install the plugin folder writes to node_modules.
But when I import react player in view and run rnv run -p web . it automatically deletes the plugin folder and I get the error that react-player module is not found and it deletes the folder in node_modules. I would be very happy if you can help me how to install and run this plugin.

[2022-01-09 20:56] wwwebgainss0 opened #776 "Plugin Installation Failed"
Hi,

I am trying to install react player but when I run renative for web. the error "the module is not found" appears.

Steps:
Installation via npm
Adding Plugint to renative.json
rnv run -p web (after running this command, the error appears and the system deletes automatically the plugin folder)

can pls somebody help
THX in Advance

[2022-01-11 12:20] dalalRohit opened #778 "Tizen emulator stuck on TV start screen (with colours strip)"
**Describe the bug**
When I do `rnv run` and choose tizen, it starts the emulator but it gets stuck at that screen only. No movement ahead.

Attaching image for reference:

![image](https://user-images.githubusercontent.com/32014253/148940083-e49bf1c2-be7e-4b15-b8a8-7beb27eb24dd.png)

**Desktop:**

-   OS: Windows 10
-   Node Version: 16.13.2
-   RNV Version: 0.34.0

[2022-01-14 09:26] sande265 opened #779 "Blank Screen or No Navigation even for template App."
So I created from a template hello-world everything works fine till i use rnv run command but when i try to build using rnv build -p webOS I only get the header menu & blank app .

All default configs, same for emulator & TV Device.

Any Help would be greatly appretiated.

[2022-01-14 11:20] thalwani opened #780 "ERROR: process is translated under Rosetta. Attempting to replace emulator installation."
**Describe the bug**
Hi,

I can't run on android emulator on my MAC MINI M1 arm 64. I can run react native app, but rnv is not working... The ANDROID_SDK path is wrong, it is not reading from my .zshrc file...

**To Reproduce**

1. Run command 'rnv run -p android'
2. See error
/Users/XXX/Android/emulator/emulator -list-avds

FAILED with ERROR:

emulator: ERROR: process is translated under Rosetta.

[2022-01-14 18:13] pchmelar commented on #756
I was also stuck on this for a while. In the end, I found out that I can produce a release version of `.wgt` by using `rnv build -p tizen -s release`. We should add this into docs.

[2022-01-14 18:14] pchmelar commented on #769
`rnv export` doesn't work for me, I ended up using `rnv build -p tizen -s release`

[2022-01-14 18:27] mihaiblaga89 commented on #780
@thalwani  While RNV should detect that and try to either find the existing SDK based on the common env variables or ask you if it can install it, you can change the config yourself. It's located in `~/.rnv/renative.json`. Change the path of the SDK there and you should be good to go. Can you post the full output of the command first so I can try to debug why the "helping" part is not happening?

[2022-01-14 18:29] mihaiblaga89 commented on #778
It seems that it doesn't install the app on the simulator. Can you post the full output of the command?

[2022-01-15 06:04] thalwani commented on #780
Thank you for your response.

I had to add this in the renative.json file :
[code]

but it was searching the emulator in the folder /Users/toufichalwani/Library/Android/sdk/emulator/emulator while it sit in the folder /Users/toufichalwani/Library/Android/sdk/tools/emulator, so I copied this file. Now it is working, but when the application launch it automatically crashes. (See attachment). On iOs,

[2022-01-15 07:34] dalalRohit commented on #778
steps we did with renative:

- Install tizen studio
- Added Samsung TV Extension from tizen package-manager
- Install renative via cli ```npm i -g rnv```
- Created new renative project by ```rnv new```
-  ```rnv run``` to start the project and emulator
- Emulator starts but only start screen stays, nothing happens ahead. CLI also doesn't show any error, just stays at "Executing.."

Attaching the C

[2022-01-15 10:10] amodoke opened #782 "LG WebOS emulator throws "No Java virtual machine was found..." error (see image)"
Hi,
So I installed the LG Webos emulator, java runtime, java sdk.

However, when I run the **rnv run -p webos** command, I am getting the following popup:
![java](https://user-images.githubusercontent.com/182899/149618002-eb13934f-516e-43fb-9404-e45d253f1556.png)

What am I doing wrong here?
I have added the paths in the java runtime, also tried changing the path in the windows system environment

[2022-01-15 10:12] ali-sao commented on #782
What usually happens when you try to run a project inside webos IDE? Does
the emulator launches automatically or not?

On Sat, 15 Jan 2022 at 12:10 PM amodoke ***@***.***> wrote:

[2022-01-15 11:34] amodoke commented on #782
Weird issues there too...
1. Tried running the renative project through the webos IDE via right-click > run as > webOS application.

It gives the error: "Device not active, please connect the device in target configuration".

Tried doing that in target configuration > throws the error > "Could not connect to the device "emulator", please check the device connection.

Yes, tried with and without, e

[2022-01-17 10:12] luiscerqueira opened #783 "JCenter shutdown"
According to android developer page:

Developers who publish artifacts on JCenter should migrate their packages to a new host, such as Maven Central.
Developers who use dependencies from JCenter will need to find the new location of updated versions of those dependencies.

After some research, it's said that JCenter will shut down on Feb 1, 2022. They are recommending developers to migrate from JC

[2022-01-17 10:47] Alexandrusandy commented on #769
HernanPaez in your index.web.js put this in useEffect         navigate('/', { replace: true }) works for me.

[2022-01-18 15:37] pchmelar opened #784 "Webpack --inline error when using engine-rn-web"
**Describe the bug**
Running `rnv run` on the latest version of RNV ends up with `Error: Unknown option '--inline'` when using `engine-rn-web`

**To Reproduce**
Steps to reproduce the behavior:

1. Run command `rnv new` and choose `renative-template-hello-world` template
2. In `renative.json` change the engine for web platform to `engine-rn-web`
3. Run command `rnv run -p web`
4. Observe error

**

[2022-01-19 14:05] #779 closed

[2022-01-19 14:06] sande265 commented on #779
Was Due To Router not loading default page or default route not being loaded.

[2022-01-20 06:49] rohan3342 opened #785 "How to integrate react-native-svg-transformer in renative? unable to do!"
### Env:
- MacBookPro 2019
- MacOS: 12.1
- renative: 0.34.0

<br>

metro.config.js
[code]

<br>

[2022-01-20 10:32] dnsking commented on #778
This bug is related to the Tizen TV emulator and not Renative. It's best for you to test on a real physical device than an emulator

[2022-01-20 10:38] mihaiblaga89 commented on #778
@dalalRohit can you try to run that command (the one after `Executing`) manually? Maybe it's waiting for some input from you, that's why it's stuck. And since RNV only prints out the last line of the command output you don't see it.

[2022-01-20 19:38] mihaiblaga89 commented on #783
@luiscerqueira we have a fix already for it just not deployed yet. Will be released tomorrow most likely

[2022-01-27 19:34] brunosartori-agile commented on #712
Any updates on this issue?

[2022-01-29 09:19] DefCon-007 opened #796 "/learn link is broken which is present in README"
**Describe the bug**
On the readme, in the `Getting Started` section there is a hyperlink to https://renative.org/learn which results in page not found.

**To Reproduce**
Steps to reproduce the behavior:
- Open the link https://renative.org/learn

**Expected behavior**
A proper page shoould open

**Screenshots or copy&paste**
![Screenshot 2022-01-29 at 2 45 41 PM](https://user-images.githubusercon

[2022-02-02 00:28] dnsking commented on #782
This problem has nothing to do with Renative and is an LG emulator problem, you'll get more help from the LG WebOS developer forum.

[2022-02-02 12:39] vladimirgal1012 opened #798 "Tizen video controls"
Hello community,

I searched a web for a few days but cant find any decent solution to my problem. I have a html video in my renative application which plays videos from external URL. The video loads no problem but I can't control it. I have of course enabled the controls for the html video tag but I just can't navigate to them.

Things that I tried with no luck:
- use react-native-video
- use rea

[2022-02-04 08:15] Leena-Sharma-rsys commented on #772
pl

[2022-02-04 08:15] #772 closed

[2022-02-04 10:34] Leena-Sharma-rsys commented on #772
hi, @ali-sao
is there any single player that can be shared over each platform instead of writing platform specific code ?

[2022-02-05 16:46] ali-sao commented on #772
@Leena-Sharma-rsys , there is but am afraid nothing is free to use,

React-native-video was your best option, but if I were you I won’t use it for web based platforms. Rather using it for Native Platforms only.

[2022-02-05 16:49] ali-sao commented on #772
@wwwebgainss0 , which version of rnv are you using?

You’d usually do it via your renative.json file but to my knowledge, it won’t be requires as long as you have it as a dependency in package.json.

[2022-02-08 15:52] wilson208 opened #800 "Focus broken on tvos using clean renative-template-hello-world install"
**Describe the bug**
I am having issues getting focus to work when running on tvos devices. I am building a renative TV app where I have been primarily focussing on AndroidTV and FireTV to start with, now I am moving onto getting tvos platform working I am unable to focus on any element.

I assumed I was doing something wrong and so I spun up a fresh install using `rnv new ...` and selecting templ

[2022-02-09 09:57] danielz-nenda opened #801 "Unable to run webos due to propTypes error in react-native-gesture-handler"
**Describe the bug**
I'm trying to run my app on webOs. It's working fine on AndroidTV platform. The app is based on the blank template.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv run -p webos --hosted'
2. See white page with below error in Chrome Developer Console

**Expected behavior**
The app to show it's content

**Screenshots or copy&paste**
Uncaught TypeError: Ca

[2022-02-09 17:38] danielz-nenda commented on #801
This can be temporarily solved by overriding the version of  react-native-gesture-handler with the lastest v1:
` "react-native-gesture-handler": "1.10.3",`

[2022-02-09 17:45] danielz-nenda opened #802 "Unable to run project on webOs 4.5 due to spread operator"
**Describe the bug**
Trying to run a renative project on a LG WebOS 4.5 device fails due to the use of spread operator in the @react-navigation package.

**To Reproduce**
Steps to reproduce the behavior:

1. Run command 'rnv run -p webos -d'
2. See error in LG dev console

**Expected behavior**
The minified version of the module should be transpiled to not use spread since it's not supported on ol

[2022-02-10 06:12] kasinskas commented on #783
@luiscerqueira Please update to the latest rnv (https://github.com/renative-org/renative/releases/tag/0.35.0). The fix was first added in 0.35.0-alpha.4, sorry for not coming back to you to confirm the release earlier

[2022-02-10 06:12] #783 closed

[2022-02-10 07:50] kasinskas commented on #212
I think this can be closed now?  - https://github.com/renative-org/renative/pull/732

[2022-02-10 07:52] kasinskas commented on #752
Hey. 0.66 RN is not yet supported by renative, but we're working on it and we're expecting next rnv release to support it. Will let you know when it's done. The migration is pretty simple really, the easiest way is to just create a new project with rnv and copy your src to that new project - https://renative.org/docs/overview/migrating_react_native

[2022-02-10 11:41] #212 closed

[2022-02-10 12:12] dotted opened #803 "Creating a project from renative-template-blank fails to run due to missing dependencies"
**Describe the bug**
Using the `renative-template-blank` template when creating a new ReNative project will error out due to a missing dependency when running `rnv run` after creation using version 0.35.1

**To Reproduce**
1. Run `rnv new`
2. Use template `renative-template-blank` otherwise select the default suggest value by the tool
3. `cd` into newly create directory and run `rnv run`
4. See er

[2022-02-10 20:10] danielz-nenda commented on #801
I have to reopen this issue. It did indeed fix the propTypes TypeError on webOS but it breaks the plugin for AndroidTV. So it's only a solution for users that just need to run webOS, which isn't a great solution.

[2022-02-14 08:23] kasinskas commented on #803
Hey @dotted, should be fixed in 0.35.2

[2022-02-14 11:23] dotted commented on #803
Confirmed fixed, thanks!

[2022-02-14 11:23] #803 closed

[2022-02-14 11:31] dotted opened #805 "yarn.lock added to new project even if you do not have yarn installed"
**Describe the bug**
When creating a new project a `yarn.lock` file is added to the project folder causing `rnv run` to fail if yarn is not installed.

**To Reproduce**
1. Make sure yarn is not installed or enabled through corepack
2. Create a new project using default values
3. `rnv run`
4. See error

**Expected behavior**
`rnv new` should detect if yarn exists or not and only add the yarn.lock f

[2022-02-14 11:47] dotted opened #806 "When using NPM as package manager rnv run gets stuck in endless loop"
**Describe the bug**
When `rnv run` tries to install dependencies using NPM it gets stuck in an endless loop as it is unable to resolve peerDependencies

**To Reproduce**
1. Make sure yarn is not installed or enabled through corepack
2. Make sure `legacy-peer-deps=true` is not defined in a `.npmrc` file NPM will be [reading during installation](https://docs.npmjs.com/cli/v8/configuring-npm/npmrc)

[2022-02-14 12:08] kasinskas commented on #650
hey, this is pretty old issue, but in case you or someone else still has this issue, try adding `"isMonorepo": true,` to `renative.json` of the project, in this case `news`

[2022-02-15 08:11] kasinskas commented on #682
Hey, to update assets like favicon you need to put it in appConfigs -> base -> assets -> web. favicon should already be there and if you replace it with the one you want, it will get automatically updated on the next run

[2022-02-16 15:56] nakamuraos opened #810 "Error when use plugin react-native-linear-gradient for Web"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Run command: `npx rnv plugin add react-native-linear-gradient`
2. Start web server: `npx rnv run -p web`
3. See error

**Expected behavior**
The code works without error on web platform.

**Screenshots or copy&paste**
If applicable, add screenshots to help explain your problem.
If applicable, copy&paste the output o

[2022-02-16 16:22] sofiaringstrom opened #811 "Can't run renative-template-hello-world on Tizen"
**Describe the bug**
Cannot run the Hello World template on Tizen. Getting `TypeError: Class constructor ServeCommand cannot be invoked without 'new'` on `rnv run`
I can run it without issues on tvOS.

**To Reproduce**
1. Create a new project with `$ rnv` and the `renative-template-hello-world`.
2. `$ rnv run` and select tizen. Complete all the setup (build, asset, chii, etc).
3. Getting `TypeErro

[2022-02-16 22:15] crewtaylorfd opened #812 "Where do I put an mp4 asset file?"
Title pretty much says it all. Where do I put an `mp4` asset file and what path do I use if I want to load it? I am trying to play a local file using `react-player` on webOS and Tizen.

[2022-02-17 13:06] andrew351 commented on #784
yeah also seems to happen whenever i use web engine

[2022-02-17 13:09] kasinskas commented on #784
Hey, rn-web is currently being worked on to run webpack 5, make it easier to override configs and assets, and fix all the issues currently existing on web/webos/tizen and other platforms that depend on this engine

[2022-02-17 21:07] andrew351 commented on #784
just a quick question, is there's a way to force use webpack 4 for now till the update comes ?

[2022-02-17 21:43] crewtaylorfd opened #813 "Tizen handle remote button press"
**Describe the bug**
I am working on a Tizen device and I cannot get button presses to register. I have followed instructions [here](https://developer.samsung.com/smarttv/develop/guides/user-interaction/remote-control.html). The basic buttons (directional pad, enter, back) work and I can intercept those keyCode events. However, when I try to register other button presses using the [TizenInputDevic

[2022-02-17 21:45] crewtaylorfd commented on #483
Was there any progress made on this? I am experiencing the same issue with the `tizen` variable in development mode.

[2022-02-18 01:43] nakamuraos commented on #811
Seems to be due to a lastest version error of webpack.

This is my quick fix:
[code]

[2022-02-18 02:02] nakamuraos commented on #810
It seems that react-native-linear-gradient didn't support the web. I'll close this issue as my fix above.

[2022-02-18 02:02] #810 closed

[2022-02-18 12:30] kasinskas commented on #810
Sorry, noticed too late, but just FYI, you could add `"react-native-linear-gradient": "source:rnv"` to your renative.json, this will automatically alias react-native-linear-gradient to react-native-web-linear-gradient on web - https://github.com/renative-org/renative/blob/eeb2fc5009d90356de36702b1ba136126ecf5928/packages/rnv/pluginTemplates/renative.plugins.json#L230

[2022-02-18 13:04] nakamuraos commented on #810
@kasinskas Thank for your inform, but I actually had an `"react-native-linear-gradient": "source:rnv"` in renative.json

This is my renative.json file:
[code]

[2022-02-18 15:02] jolisophilabs opened #815 "Using custom fonts in tizen doesn't work"
**Describe the bug**
Hello
I am trying to use custom fonts in a tizen project, with renative and react-native. Following the doc, I added the fonts to the appConfigs/base/fonts folder, but when I try to use them they won't load into the components.

I also follow this issue, but it's the same :

https://github.com/renative-org/renative/issues/405

[code]

**Desktop**

-   OS: MacOS Big Sur
-   Nod

[2022-02-21 05:14] sande265 opened #816 "Unable to use installed package in android & androidTV."
Due to renative disabling auto link of packages while auto install, i am not able to find how should i use newly install packages as its not binding nor can i manually bind due to react-native being version > V60.

Can anyone help me regarding this issue.

[Mon Feb 21 2022 10:58:20.172]  ERROR    Error: [@RNC/AsyncStorage]: NativeModule: AsyncStorage is null.

To fix this issue try these steps:

[2022-02-21 05:17] sande265 commented on #815
try Cleaning the app cache & use different version of renative.
i had issues using icons from rentive Icon, but after changing renative version it worked & i have not faced such issue since & i can import custom icons ass well

[2022-02-21 21:27] NickAVolpe commented on #815
@sande265  What version did you switch to?

[2022-02-22 14:11] lKinderBueno commented on #806
Same issue here
`Command failed with exit code 1: npm install
npm ERR! code ERESOLVE
npm ERR! ERESOLVE could not resolve
npm ERR!
npm ERR! While resolving: renative@0.1.0
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   peer react@"^17.0.2 || ^18.0.0-0" from next@12.1.0
npm ERR!   node_modules/next
npm ERR!     peer next@">=12.0.8" from @rnv/engine-rn-next@0.35.3
npm ERR!     no

[2022-02-22 14:47] lKinderBueno opened #817 "Android Gradle: Could not determine the dependencies of task & deprecated features used"
**Describe the bug**
I have created a new renative project, but once I type "npx rnv run -p android", it shows me these errors (check the error.txt file)

**Desktop (please complete the following information):**

-   OS: Windows 11
-   Node Version v16.13.0
-   RNV Version 0.35.3

[error.txt](https://github.com/renative-org/renative/files/8117555/error.txt)

[2022-02-23 08:31] Shashank2406 opened #818 "BrowseFragment alternate or a way to use in AndroidTV?"
Is there an alternate in Renative for BrowseFragment? Or Is there a way to implement BrowseFragment in Renative?

[2022-02-23 08:35] aurimasmi commented on #818
Renative doesn't gave BrowseFragment and afair there is no RN plugin out there which does have this implementation. You can check this library https://github.com/reactseals/react-native-leanback which has some leanback features implemented and using this concept you might be able to implement BrowseFragment

[2022-02-23 09:10] sande265 commented on #815
0.34.0

[2022-02-23 11:51] r0oto0r opened #820 "The project's Babel config is invalid: Cannot read properties of undefined (reading 'uid')"
Hey everyone,

**Describe the bug**
I tried to start the blank page default project but I'm getting bable errors during building stage saying that

This is breaking the build and I can't start the project. Strange enough, If I start the helloworld-template it works just fine - same setup.

**To Reproduce**
Setup new project with blank page template (v.0.34) and try running it with rnv run -p web

[2022-02-23 13:30] r0oto0r commented on #820
Recreated the project with node 14.18.2 and it works just fine. So, we can't have node 16?

[2022-02-24 19:54] namrabtw opened #821 "How to start working and how to run simulation"

[2022-02-26 14:22] softwareeenginer commented on #451
I have same problem. Is this fixed?

[2022-02-28 07:21] nakamuraos commented on #810
Hey @kasinskas, any confirm this issue?

[2022-02-28 16:39] danielbinschmid commented on #25
There might exist a better solution, but would something similar like the cordova-crosswalk plugin a considerable approach?

[2022-02-28 17:39] karigarweb commented on #741
Can you please share the final solution here. I am experiencing the similar issue

[2022-03-01 11:28] kasinskas commented on #811
0.36.0-canary.1 was released yesterday with webpack sdk updates, please try it out

[2022-03-01 11:29] kasinskas commented on #784
0.36.0-canary.1 was released yesterday with webpack sdk updates, please try it out

[2022-03-01 14:02] andrew351 commented on #784
I just tried it i made a fresh new project using rnv new and I got a new error upon running

[code]
Template: renative-template-hello-world@0.36.0-canary.1
ReNative Version: 0.35.3

[2022-03-01 14:13] kasinskas commented on #784
You need to upgrade rnv to 0.36.0-canary.1 as well, not only the template

[2022-03-01 14:38] andrew351 commented on #784
oh sorry my bad i removed rnv and installed it again and i thought it updated to canary version aswell , i just tested again so when i run at webos emulator the app launches into white screen and when i try windows with electron i get a few errors, i think this is not related to this issue do i open a new issue ?

[code]

[2022-03-01 15:38] kasinskas commented on #784
Yes please, open a new one with the steps you did and I'll try to reproduce it. I did run windows on electron successfully, but maybe I missed something

[2022-03-02 12:49] lednewcrk commented on #820
+1

[2022-03-02 13:25] samuelbezerrab commented on #802
Same issue here.

[2022-03-04 10:18] odemolliens commented on #14
+1!

[2022-03-04 20:03] dotted commented on #784
This problem has resurfaced in 0.36.0-canary.2. Installing hello-world template and trying to run it will reproduce the problem.

[2022-03-05 21:26] kasinskas commented on #784
Maybe canary.2 got out with old sdk-webpack files, since --inline is not used anymore. I just published canary.3 which also include electron and babel fixes, can you please try that one? I just ran it and seems okay

[2022-03-05 21:33] dotted commented on #784
Can confirm, canary.3 works

[2022-03-07 02:28] dotted opened #826 "Supported platforms when listing plugins is always empty"
**Describe the bug**
When listing plugins `rnv plugin list` the brackets that previously listed supported platforms is now always empty. This worked in rnv version 0.31.3.

**To Reproduce**
1. Set up a new project with hello world template
2. Run `rnv plugin list`
3. See `[]` for all plugins. ie. ` [4]> @react-native-community/push-notification-ios (1.0.2) [] - not installed`

**Expected behavior*

[2022-03-07 07:04] sande265 commented on #813
You Need to build the app rather than run the app in debug mode to get the value, i know it is what it is.

[2022-03-08 23:21] mrladeia opened #827 "Location of your cli undefined does not exists."
Hello, i'm trying to run hello world project on tizen emulator but i'm having an error

1. Run: `rnv target launch -p tizen -t T-samsung-6.5-x86`

Show this error:
`Location of your cli undefined does not exists. check your C:\Users\mrlad\.rnv\renative.json file if your sdks paths are correct`

Does anyone have an idea why it's undefined for the cli?

**renative.json**
[code]

![image](https://use

[2022-03-15 09:08] Kunwar01899 opened #829 "How to launch Tizen Simulator on Renative ? Stuck with an error"
I am trying to launch Tizen Simulator on Renative using the command "rnv target launch -p tizen -t T-samsung-6.0-x86" in cmd.
But it keeps giving me this error "Location of your cli undefined does not exists. check your C:\Users\DELL\.rnv\renative.json file if your sdks paths are correct", I'm stuck here, can anyone pls help me out ?

[2022-03-19 16:09] mihaiblaga89 commented on #820
@r0oto0r @lednewcrk can you please try the latest version? I just tested this and I can't replicate it. Created a new project, picked template-blank and ran it on web, seems to work just fine

[2022-03-19 16:10] mihaiblaga89 commented on #818
Closing this. If you have any more questions feel free to reopen it or open a new one.

[2022-03-19 16:10] #818 closed

[2022-03-19 16:30] mihaiblaga89 commented on #816
we have `@react-native-community/async-storage` supported, you can just add it with `rnv plugin add`, or manually adding it in `renative.json` under plugins, following the rest of them. However, if you want to support `react-native-async-storage` you'll have to add it in `renative.json` as an object, following [this file](https://github.com/renative-org/renative/blob/canary/packages/rnv/pluginTemp

[2022-03-19 16:30] #816 closed

[2022-03-19 16:32] mihaiblaga89 commented on #815
@jolisophilabs @NickAVolpe please update to the latest version and see if it works. Gonna close this issue for now, if you encounter this with the latest version feel free to open it again

[2022-03-19 16:32] #815 closed

[2022-03-19 16:37] mihaiblaga89 commented on #813
@crewtaylorfd Samsung for some reason does not expose the API in debug mode.

[2022-03-19 16:37] #813 closed

[2022-03-19 16:51] mihaiblaga89 commented on #812
Usually you would not want to embed videos inside apps, you would want to stream it from somewhere, this would be the advice. If you _really_ want to embed it, you can follow the method for adding any other image or asset in general. Place it in `appConfigs/base/assets/runtime`. Those will be copied over into `platformAssets/runtime` at build time, that's how you should reference them in your code

[2022-03-19 16:51] #812 closed

[2022-03-19 16:53] mihaiblaga89 commented on #811
closing this for now, feel free to reopen it if the issue persists with the latest update

[2022-03-19 16:53] #811 closed

[2022-03-19 19:45] mihaiblaga89 commented on #800
@wilson208 @Cilveti can you please try the latest version? Just tried to replicate it but it seems to work just fine

![CleanShot 2022-03-19 at 20 44 30](https://user-images.githubusercontent.com/4787898/159136120-c21a28f0-428a-449e-a10c-ccfac736078a.gif)

[2022-03-19 19:54] mihaiblaga89 commented on #798
closing this. Feel free to reopen if you still have problems with it

[2022-03-19 19:54] #798 closed

[2022-03-19 19:58] mihaiblaga89 commented on #796
fixed by 61e61768f0d59da01825d1d02fa23c7d4d475f75

[2022-03-19 19:58] #796 closed

[2022-03-19 20:05] mihaiblaga89 commented on #778
closing this for now, feel free to reopen if you still encounter the issue

[2022-03-19 20:05] #778 closed

[2022-03-19 20:05] mihaiblaga89 commented on #691
closing this for now, feel free to reopen if you still encounter the issue

[2022-03-19 20:05] #691 closed

[2022-03-19 20:08] #738 closed

[2022-03-19 20:08] mihaiblaga89 commented on #759
closing this for now, feel free to reopen if you still encounter the issue

[2022-03-19 20:08] #759 closed

[2022-03-19 20:09] mihaiblaga89 commented on #766
closing this for now, feel free to reopen if you still encounter the issue

[2022-03-19 20:09] #766 closed

[2022-03-19 20:51] mihaiblaga89 commented on #780
Without any errors or logs I can't guide you or know why the app crashes on launch or it doesn't install it on iOS. Closing this, feel free to reach out when you can replicate it and post the errors.

[2022-03-19 20:51] #780 closed

[2022-03-19 20:52] mihaiblaga89 commented on #776
How exactly did you add it to `renative.json`?

[2022-03-19 20:54] mihaiblaga89 commented on #770
Stale, closing it

[2022-03-19 20:54] #770 closed

[2022-03-19 20:55] mihaiblaga89 commented on #782
closing this for now

[2022-03-19 20:55] #782 closed

[2022-03-19 21:33] mihaiblaga89 commented on #785
@kasinskas any updates on this?

[2022-03-19 21:35] mihaiblaga89 commented on #784
closing this for now. If there are any more issues feel free to reopen

[2022-03-19 21:35] #784 closed

[2022-03-19 21:49] mihaiblaga89 commented on #756
updated the docs

[2022-03-19 21:49] #756 closed

[2022-03-19 21:50] mihaiblaga89 commented on #752
considering this closed

[2022-03-19 21:50] #752 closed

[2022-03-19 21:51] mihaiblaga89 commented on #744
considering this closed

[2022-03-19 21:51] #744 closed

[2022-03-19 21:53] mihaiblaga89 commented on #689
considering this closed

[2022-03-19 21:53] #689 closed

[2022-03-19 21:54] mihaiblaga89 commented on #682
considering this closed

[2022-03-19 21:54] #682 closed

[2022-03-19 21:55] #827 closed

[2022-03-19 21:55] #829 closed

[2022-03-19 21:56] #826 closed

[2022-03-19 21:57] #805 closed

[2022-03-19 22:08] mihaiblaga89 commented on #679
@Cilveti in the latest RNV versions we added better support for default emulators, it will ask you if the default one does not match, to change it. Please give it a shot and reopen the issue if the issue persists

[2022-03-19 22:08] #679 closed

[2022-03-19 22:08] mihaiblaga89 commented on #678
considering this closed

[2022-03-19 22:08] #678 closed

[2022-03-19 22:10] mihaiblaga89 commented on #671
considering this closed

[2022-03-19 22:10] #671 closed

[2022-03-19 22:11] mihaiblaga89 commented on #672
considering this closed. Feel free to reopen it if you still have this problem

[2022-03-19 22:11] #672 closed

[2022-03-20 08:04] mihaiblaga89 commented on #806
@dotted can you please give the latest canary a go? The problem should be fixed there

[2022-03-21 06:09] Kunwar01899 commented on #829
Can you please explain what fixes you have done for the issue I mentioned ?

[2022-03-21 08:55] mihaiblaga89 commented on #829
it should now configure the correct paths for the sdk so you won't get an error that it's not set up when it actually is. Please give the latest version a go and feel free to reopen this issue if the problem persists